html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  width: 1238px;
}

.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff9eb;
}

.navbar {
  background-color: rgb(18, 18, 18);
  height: 81px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navbar .navbar_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
}
.navbar .navbar_container .navbar_left {
  width: 90px;
}
.navbar .navbar_container .navbar_left .navbar_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.navbar .navbar_container .navbar_left .navbar_menu > img {
  width: 24px;
  height: 24px;
}
.navbar .navbar_container .navbar_left .navbar_menu > p {
  font-family: Space Mono;
  font-size: 20px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #fff;
  margin-top: 3px;
}
.navbar .navbar_container .navbar_left .navbar_menu .hidden {
  display: none;
}
.navbar .navbar_container .navbar_middle > img {
  width: 100px;
  height: 25px;
}
.navbar .navbar_container .navbar_right .navbar_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.navbar .navbar_container .navbar_right .navbar_icons > img {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1238px) {
  .container {
    width: 740px;
  }
  .navbar .navbar_container .navbar_left .navbar_menu {
    gap: 10px;
  }
  .navbar .navbar_container .navbar_right .navbar_icons {
    gap: 15px;
  }
}
@media screen and (max-width: 740px) {
  .container {
    width: 370px;
  }
  .hide {
    display: none;
  }
  .navbar {
    height: 64px;
  }
  .navbar .navbar_container .navbar_left {
    width: 30px;
  }
  .navbar .navbar_container .navbar_left .navbar_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .navbar .navbar_container .navbar_left .navbar_menu .hidden {
    display: initial;
    width: 96px;
    height: 24px;
  }
  .navbar .navbar_container .navbar_middle > img {
    display: none;
  }
  .navbar .navbar_container .navbar_right .navbar_icons {
    gap: 10px;
  }
}
footer {
  width: 100%;
  background-color: rgb(18, 18, 18);
  width: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer_container .column {
  width: 220px;
  gap: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer_container .column > h3 {
  font-family: Space Mono;
  font-size: 25px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  color: #ffaf06;
  margin-bottom: 20px;
}
footer .footer_container .column > p {
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #fff;
}
footer .footer_container .column_last h1 {
  font-family: Space Mono;
  font-size: 48px;
  font-weight: 674;
  line-height: 57px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffaf06;
  margin-bottom: 40px;
  margin-top: -12px;
}
footer .footer_container .column_last .input_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 40px;
}
footer .footer_container .column_last .input_button input {
  width: 180px;
  height: 36px;
  border-radius: 4px 0px 0px 4px;
  border-color: transparent;
  padding-left: 6px;
}
footer .footer_container .column_last .input_button input:focus {
  outline: none;
}
footer .footer_container .column_last .input_button button {
  width: 85px;
  height: 42px;
  border-radius: 0px 4px 4px 0px;
  border-color: transparent;
  background-color: #ffaf06;
  font-family: Work Sans;
  margin-left: -10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}
footer .footer_container .column_last .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
footer .footer_container .column_last .socials .social {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer_container .column_last .socials .social > img {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1238px) {
  footer .footer_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer_container .column {
    gap: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_container .column > h3 {
    font-family: Space Mono;
    font-size: 25px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    margin-bottom: 20px;
  }
  footer .footer_container .column > p {
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #fff;
  }
  footer .footer_container .responsive {
    margin-top: 40px;
  }
  footer .footer_container .column_last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer_container .column_last h1 {
    font-family: Space Mono;
    font-size: 48px;
    font-weight: 674;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffaf06;
    margin-bottom: 20px;
    margin-top: -10px;
  }
  footer .footer_container .column_last .input_button input {
    width: 210px;
    height: 36px;
    border-radius: 4px 0px 0px 4px;
    border-color: transparent;
    padding-left: 6px;
  }
  footer .footer_container .column_last .input_button input:focus {
    outline: none;
  }
  footer .footer_container .column_last .input_button button {
    width: 85px;
    height: 42px;
    border-radius: 0px 4px 4px 0px;
    border-color: transparent;
    background-color: #ffaf06;
    font-family: Work Sans;
    margin-left: -10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
  }
  footer .footer_container .column_last .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  footer .footer_container .column_last .socials .social {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer_container .column_last .socials .social > img {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 740px) {
  footer {
    width: 100%;
    background-color: rgb(18, 18, 18);
    width: 100%;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer_container .column {
    width: 130px;
    gap: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_container .column > h3 {
    font-family: Space Mono;
    font-size: 19px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    margin-bottom: 5px;
  }
  footer .footer_container .column > p {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #fff;
  }
  footer .footer_container .column .hidden_last {
    display: none;
  }
  footer .footer_container .responsive {
    margin-top: 0px;
  }
  footer .footer_container .responsive_last {
    margin-top: 10px;
  }
  footer .footer_container .column_last {
    width: 100%;
  }
  footer .footer_container .column_last h1 {
    font-family: Space Mono;
    font-size: 30px;
    font-weight: 674;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffaf06;
    margin-bottom: 0px;
    margin-top: 5px;
  }
  footer .footer_container .column_last .input_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 18px;
  }
  footer .footer_container .column_last .input_button input {
    width: 180px;
    height: 36px;
    border-radius: 4px 0px 0px 4px;
    border-color: transparent;
    padding-left: 6px;
  }
  footer .footer_container .column_last .input_button input:focus {
    outline: none;
  }
  footer .footer_container .column_last .input_button button {
    width: 65px;
    height: 42px;
    border-radius: 0px 4px 4px 0px;
    border-color: transparent;
    background-color: #ffaf06;
    font-family: Work Sans;
    margin-left: -10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
  }
  footer .footer_container .column_last .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  footer .footer_container .column_last .socials .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer_container .column_last .socials .social > img {
    width: 20px;
    height: 20px;
  }
}
.container {
  width: 1238px;
}

.remember {
  width: 100%;
  height: 660px;
  background-image: url(../../assets/images/Remember/Image1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.remember .remember_container {
  padding-top: 80px;
}
.remember .remember_container h1 {
  font-family: Space Mono;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  width: 450px;
}
.remember .remember_container p {
  width: 395px;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin-top: 30px;
}
.remember .remember_container button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  width: 138px;
  height: 47px;
  background-color: transparent;
  color: #ffc13f;
  border-color: #ffc13f;
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 5px;
}
.remember .remember_container button > img {
  width: 29px;
  height: 21px;
  margin-left: 10px;
}

@media screen and (max-width: 1238px) {
  .container {
    width: 740px;
  }
  .remember {
    width: 100%;
    height: 520px;
    background-image: url(../../assets/images/Remember/Image1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .remember .remember_container {
    padding-top: 80px;
  }
  .remember .remember_container h1 {
    font-family: Space Mono;
    font-size: 34px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    width: 390px;
  }
  .remember .remember_container p {
    width: 300px;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    margin-top: 30px;
  }
  .remember .remember_container button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
    width: 138px;
    height: 47px;
    background-color: transparent;
    color: #ffc13f;
    border-color: #ffc13f;
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 5px;
  }
  .remember .remember_container button > img {
    width: 29px;
    height: 21px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 740px) {
  .container {
    width: 370px;
  }
  .remember {
    width: 100%;
    height: 520px;
    background-image: url(../../assets/images/Remember/Image1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .remember .remember_container {
    padding-top: 200px;
  }
  .remember .remember_container h1 {
    font-family: Space Mono;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    width: 350px;
  }
  .remember .remember_container .hide_paragraf {
    display: none;
  }
  .remember .remember_container button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
    width: 138px;
    height: 47px;
    background-color: transparent;
    color: #ffc13f;
    border-color: #ffc13f;
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 5px;
  }
  .remember .remember_container button > img {
    width: 29px;
    height: 21px;
    margin-left: 10px;
  }
}