      <div class="testing">
        <div class="container testing_container">
          <div class="testing_common">
            <div class="testing_left">
              <img src="../assets/images/Testing/parfume_flakon.jpg" />
            </div>
            <div class="testing_right">
              <h1 style="padding-top: 35px">
                Sevdiyiniz ətri tapmaq üçün 10 möhtəşəm qoxunu sinaqdan keçirin!
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="tester">
        <div class="container tester_container">
          <div class="tester_top">
            <h1>Test Qutusu</h1>
            <p>
              Sevdiyiniz etri tapmaq ucun 10 muxtelif brendin en cox satilan
              duxlarinin testerlerini yaratmishiq.
            </p>
            <div class="tester_input">
              <input placeholder="Parfumu axtar" />
              <img src="../assets/icons/tester/Search.svg" />
            </div>
          </div>
          <div class="tester_bottom">
            <div class="tester_left">
              <div class="testerparfume">
                <img src="../assets/images/NewProduct/ProductImage.jpg" />
                <h3>Chanel Parfume</h3>
                <div class="star_button">
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <a><button>Elave et</button></a>
                </div>
              </div>
              <div class="testerparfume">
                <img src="../assets/images/NewProduct/ProductImage.jpg" />
                <h3>Chanel Parfume</h3>
                <div class="star_button">
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <a><button>Elave et</button></a>
                </div>
              </div>
              <div class="testerparfume">
                <img src="../assets/images/NewProduct/ProductImage.jpg" />
                <h3>Chanel Parfume</h3>
                <div class="star_button">
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <a><button>Elave et</button></a>
                </div>
              </div>
              <div class="testerparfume">
                <img src="../assets/images/NewProduct/ProductImage.jpg" />
                <h3>Chanel Parfume</h3>
                <div class="star_button">
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <a><button>Elave et</button></a>
                </div>
              </div>
              <div class="testerparfume">
                <img src="../assets/images/NewProduct/ProductImage.jpg" />
                <h3>Chanel Parfume</h3>
                <div class="star_button">
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <a><button>Elave et</button></a>
                </div>
              </div>
              <div class="testerparfume">
                <img src="../assets/images/NewProduct/ProductImage.jpg" />
                <h3>Chanel Parfume</h3>
                <div class="star_button">
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <a><button>Elave et</button></a>
                </div>
              </div>
              <div class="testerparfume">
                <img src="../assets/images/NewProduct/ProductImage.jpg" />
                <h3>Chanel Parfume</h3>
                <div class="star_button">
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <a><button>Elave et</button></a>
                </div>
              </div>
              <div class="testerparfume">
                <img src="../assets/images/NewProduct/ProductImage.jpg" />
                <h3>Chanel Parfume</h3>
                <div class="star_button">
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <a><button>Elave et</button></a>
                </div>
              </div>
              <div class="testerparfume">
                <img src="../assets/images/NewProduct/ProductImage.jpg" />
                <h3>Chanel Parfume</h3>
                <div class="star_button">
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <img src="../assets/icons/NewProduct/star.svg" />
                  <a><button>Elave et</button></a>
                </div>
              </div>
            </div>
            <div class="tester_right">
              <ol type="1" start="1">
                <li>
                  Chanel
                  <a> <img src="../assets/icons/tester/rubish.svg" /></a>
                </li>
                <li>
                  Chanel
                  <a> <img src="../assets/icons/tester/rubish.svg" /></a>
                </li>
                <li>
                  Chanel
                  <a> <img src="../assets/icons/tester/rubish.svg" /></a>
                </li>
                <li>
                  Chanel
                  <a> <img src="../assets/icons/tester/rubish.svg" /></a>
                </li>
                <li>
                  Chanel
                  <a> <img src="../assets/icons/tester/rubish.svg" /></a>
                </li>
                <li>
                  Chanel
                  <a> <img src="../assets/icons/tester/rubish.svg" /></a>
                </li>
                <li>
                  Chanel
                  <a> <img src="../assets/icons/tester/rubish.svg" /></a>
                </li>
                <li>
                  Chanel
                  <a> <img src="../assets/icons/tester/rubish.svg" /></a>
                </li>
                <li>
                  Chanel
                  <a> <img src="../assets/icons/tester/rubish.svg" /></a>
                </li>
                <li>
                  Chanel
                  <a> <img src="../assets/icons/tester/rubish.svg" /></a>
                </li>
              </ol>
              <a><button class="addtobasket">Sebete Elave Et</button></a>
            </div>
          </div>
        </div>
      </div>