.container {
  width: 1238px;
}
.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $orange_05;
}
.navbar {
  background-color: $black_01;
  height: 81px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  .navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    .navbar_left {
      width: 90px;
      .navbar_menu {
        display: flex;
        gap: 16px;
        > img {
          width: 24px;
          height: 24px;
        }
        .hide {
          font-family: Space Mono;
          font-size: 22px;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0em;
          color: $white;
          margin-top: 3px;
        }
        .hidden {
          display: none;
        }
      }
    }
    .navbar_middle {
      > img {
        width: 100px;
        height: 25px;
      }
    }
    .navbar_right {
      .navbar_icons {
        display: flex;
        gap: 20px;
        > img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
@media screen and (max-width: 1238px) {
  .container {
    width: 740px;
  }
  .navbar {
    .navbar_container {
      .navbar_left {
        .navbar_menu {
          gap: 10px;
        }
      }
      .navbar_right {
        .navbar_icons {
          gap: 15px;
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .container {
    width: 370px;
  }
  .hide {
    display: none;
  }
  .navbar {
    height: 64px;
    .navbar_container {
      .navbar_left {
        width: 30px;
        .navbar_menu {
          display: flex;
          align-items: center;
          gap: 10px;
          .hidden {
            display: initial;
            width: 96px;
            height: 24px;
          }
        }
      }
      .navbar_middle {
        > img {
          display: none;
        }
      }
      .navbar_right {
        .navbar_icons {
          gap: 10px;
        }
      }
    }
  }
}
