@model IEnumerable<SettingAbout>
<div class="container">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Basliq:</th>
                <th scope="col">Basliq:</th>
                <th scope="col">Sekil:</th>
                <th scope="col">Sekil:</th>
                <th scope="col">Sekil:</th>

                <th scope="col">Yenile</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <th>@item.WhoTitle</th>
                        <th>@item.WhyTitle</th>
                         <th><img style="width:100px;height:100px" src="~/assets/images/@item.ImageWho1" /></th>
                         <th><img style="width:100px;height:100px" src="~/assets/images/@item.ImageWho2" /></th>
                         <th><img style="width:100px;height:100px" src="~/assets/images/@item.ImageWhy1" /></th>
                         <th><img style="width:100px;height:100px" src="~/assets/images/@item.ImageWhy2" /></th>
                        <td><a asp-controller="settingAbout" asp-action="update" asp-route-id="@item.Id" >
                            <i class="fas fa-edit text text-primary"></i></a></td>
                     
                    </tr>
            }
        </tbody>
    </table>
  

</div>