button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: $orange_02;
  border: 2px solid $orange_01;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  transition: 0.5s;
}
button:hover {
  transform: scale(0.95);
}
.addtobasket {
  padding: 0px 16px 0px 16px;
  border-radius: 4px;
  gap: 8px;
  background-color: $orange_01;
  border: 1px solid $black_01;
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: $black_01;
}
