$white: #fff;
$black_01: rgba(18, 18, 18, 1);
$black_02: #414141;
$black_03: #6a6a6a;
$black_04: #959595;
$black_05: #c8c8c8;
$gray_02: #cecece;
$sidebar: rgba(149, 149, 148, 0.65);
$orange_01: #ffaf06;
$orange_02: #ffc13f;
$orange_03: #ffd376;
$orange_04: #feecc74d;
$orange_05: #fff9eb;
$green: #04cf00;
$red: #fe0000;
