.container {
  width: 1238px;
}
.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $orange_05;
}
.navbar {
  background-color: $black_01;
  width: 100%;
  margin: auto;
  display: flex;
  z-index: 100;
  justify-content: center;
  .navbar_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    .navbar_top {
      display: flex;
      height: 81px;
      margin: auto;
      justify-content: space-between;
      align-items: center;
      width: 95%;
      .navbar_left {
        width: 90px;
        .navbar_menu {
          display: flex;
          gap: 16px;
          align-items: center;
          > a {
            > img {
              width: 24px;
              height: 24px;
            }
            .hideImage {
              display: none;
            }
            .displaynone {
              display: none;
            }
          }
          .hide {
            font-family: Space Mono;
            font-size: 24px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            color: $white;
            margin-top: 0px;
          }

          > a {
            .hidden {
              display: none;
            }
          }
        }
      }
      .navbar_middle {
        > a {
          > img {
            width: 100px;
            height: 25px;
          }
        }
      }
      .navbar_right {
        .navbar_icons {
          display: flex;
          gap: 20px;
          > a {
            color: $white;
            > a {
              display: flex;
              align-items: center;
              color: $white;
              > i {
                width: 24px;
                height: 24px;
                color: $white;
                margin-right: 2px;
                > span {
                  color: $white;
                }
              }
            }
          }
          .basket_header_inner {
            top: 81px;
            position: absolute;
            width: 260px;
            border-radius: 5px;
            height: 0px;
            background-color: $white;
            transition: 0.3s;
            overflow: hidden;
            .basketItems {
              display: flex;
              flex-direction: column;
              gap: 5px;
              padding: 10px 10px 2px 10px;
              height: 140px;
              overflow-y: scroll;
              .basketItem {
                display: flex;
                gap: 25px;
                opacity: 1;
                transition: 1s;
                .item_left {
                  > img {
                    width: 80px;
                    height: 60px;
                    border-radius: 5px;
                  }
                }
                .item_right {
                  margin-top: 7px;
                  display: flex;

                  .spans {
                    display: flex;
                    flex-direction: column;
                    width: 100px;
                    > span {
                      font-family: Space Mono;
                      font-size: 13px;
                      line-height: 15px;
                    }
                  }
                  .deleteimage {
                    cursor: pointer;
                    margin-top: 15px;
                  }
                }
              }
            }
            .basket_buttons {
              padding: 10px;
              display: flex;
              flex-direction: column;
              transition: 1s;
              > span {
                margin-bottom: 10px;
              }
              .buttonsBasketDiv {
                display: flex;
                gap: 10px;
                > a {
                  > button {
                    background-color: $orange_01;
                    color: $white;
                    font-size: 14px;
                    width: 115px;
                    &:hover {
                      transform: scale(1);
                      background-color: transparent;
                      color: $orange_01;
                    }
                  }
                }
              }
            }
          }
          .view {
            height: 210px;
          }
        }
      }
    }
    .navbar_bottom {
      position: absolute;
      top: 81px;
      width: 100%;
      height: 250px;
      background-color: $sidebar;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: 0.6s;
      gap: 5px;
      > a {
        > h1 {
          font-family: Space Mono;
          font-size: 26px;
          font-weight: 450;
          line-height: 33px;
          letter-spacing: 0em;
          margin-left: -130px;
          text-align: center;
          color: $white;
          transition: 0.3s;
        }
        .visible {
          margin-left: -15000px;
        }
      }
    }
    .hideDiv {
      width: 0;
    }
  }
}
@media screen and (max-width: 1238px) {
  .container {
    width: 740px;
  }
  .navbar {
    .navbar_container {
      .navbar_top {
        .navbar_left {
          .navbar_menu {
            gap: 15px;
          }
        }
        .navbar_right {
          .navbar_icons {
            gap: 15px;
            .basket_header_inner {
              right: 10px;
            }
          }
        }
      }
      .navbar_bottom {
        > a {
          > h1 {
            font-family: Space Mono;
            font-size: 22px;
            font-weight: 450;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: center;
            color: $white;
            transition: 0.3s;
          }
          .visible {
            margin-left: -15000px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .container {
    width: 370px;
  }
  .hide {
    display: none;
  }
  .navbar {
    height: 64px;
    .navbar_container {
      .navbar_top {
        height: 61px;
        .navbar_left {
          width: 30px;
          .navbar_menu {
            display: flex;
            align-items: center;
            gap: 10px;
            > a {
              .hidden {
                display: initial;
                width: 96px;
                height: 24px;
              }
            }
          }
        }
        .navbar_middle {
          > a {
            > img {
              display: none;
            }
          }
        }
        .navbar_right {
          .navbar_icons {
            gap: 10px;
            > a {
              margin-right: 5px;
              object-fit: fill;
              &:last-child {
                margin-right: 0px;
              }
              > i {
                font-size: 16px;
              }
              > span {
                display: none;
                opacity: 0;
              }
            }
            .basket_header_inner {
              top: 65px;
              right: 5px;
              width: 180px;
              .basketItems {
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding: 5px 5px 2px 5px;
                height: 140px;
                overflow-y: scroll;
                .basketItem {
                  display: flex;
                  opacity: 1;
                  gap: 10px;
                  transition: 1s;
                  .item_left {
                    > img {
                      width: 60px;
                      height: 60px;
                      border-radius: 5px;
                    }
                  }
                  .item_right {
                    margin-top: 7px;
                    display: flex;
                    gap: 5px;
                    .spans {
                      display: flex;
                      flex-direction: column;
                      width: 75px;
                      > span {
                        font-family: Space Mono;
                        font-size: 10px;
                        line-height: 14px;
                      }
                    }
                    .deleteimage {
                      cursor: pointer;
                      margin-top: 15px;
                    }
                  }
                }
              }
              .basket_buttons {
                padding-top: 0;
                padding: 8px;
                display: flex;
                padding-top: 0;
                transition: 1s;
                > span {
                  font-size: 15px;
                  margin-bottom: 5px;
                }
                .buttonsBasketDiv {
                  gap: 5px;
                  display: flex;
                  flex-direction: column;
                  > a {
                    > button {
                      background-color: $orange_01;
                      color: $white;
                      font-size: 12px;
                      width: 160px;
                      height: 25px;
                      margin-bottom: 0;
                      &:hover {
                        transform: scale(1);
                        background-color: transparent;
                        color: $orange_01;
                      }
                    }
                  }
                }
              }
            }
            .view {
              height: 220px;
            }
          }
        }
      }
      .navbar_bottom {
        position: absolute;
        top: 64px;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        transition: 0.6s;
        gap: 5px;
        > a {
          > h1 {
            font-family: Space Mono;
            font-size: 21px;
            font-weight: 450;
            line-height: 32px;
            letter-spacing: 0em;
            text-align: center;
            color: $white;
            margin-left: 0;
            transition: 0.3s;
          }
          .visible {
            margin-left: -15000px;
          }
        }
      }
      .hideDiv {
        width: 0;
      }
    }
  }
}
