  @if (!string.IsNullOrWhiteSpace((string)TempData["EmailNotFound"]))
{
    <div style="display:none" id="message">@TempData["EmailNotFound"]</div>
}



<div class="forget">
        <div class="forget_container">
          <div class="forget_left"   style="background-image:url(/assets/images/accountimages.jpg)"
               ></div>
          <div class="forget_right">
            <h1>Email:</h1>
            <form action="#" method="post">
              <div
                class="alert alert-danger"
                asp-validation-summary="ModelOnly"
              ></div>

              <input
                class="form-control register_input"
                placeholder="Email"
                type="email"
                 name="email"
              />

              <button style="margin-top:10px" type="submit">Dəyiş</button>
            </form>
          </div>
        </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    const Message = document.getElementById("message");
    if (Message != undefined) {
        const message = Message.innerHTML;
        if (message != "") {
            Swal.fire(`${message}`)
        }

    }</script>