  <div class="forget">
        <div class="forget_container">
          <div class="forget_left"></div>
          <div class="forget_right">
            <h1>Email:</h1>
            <input placeholder="Email" type="email" class="register_input" />
            <div class="checkbox_input">
              <input type="checkbox" />
              <p>Qebul edirem</p>
            </div>
            <a><button>Gonder</button></a>
          </div>
        </div>
      </div>