   <div class="infoPage">
        <div class="infoPage_container">
          <div class="infoPage_left"></div>
          <div class="infoPage_right">
            <h1>Melumatlar</h1>
            <input
              disabled
              placeholder="Ad"
              type="text"
              class="register_input"
            />
            <input
              disabled
              placeholder="Soyad"
              type="text"
              class="register_input"
            />
            <input
              disabled
              placeholder="Istifadeci Adi"
              type="text"
              class="register_input"
            />
            <input
              disabled
              placeholder="Email"
              type="email"
              class="register_input special_input"
            />
          </div>
        </div>
      </div>