 <div class="login">
        <div class="login_container">
          <div class="login_left"></div>
          <div class="login_right">
            <h1>Girish Et</h1>
            <input placeholder="Email" type="email" class="register_input" />
            <input placeholder="Şifrə" type="password" class="register_input" />
            <div class="checkbox_input">
              <input type="checkbox" />
              <p>Qebul edirem</p>
            </div>
            <a><button>Girish et</button></a>
          </div>
        </div>
      </div>


                            
                                  