  <div class="register">
        <div class="register_container">
          <div class="register_left"></div>
          <div class="register_right">
            <h1>Qeydiyyat</h1>
            <p>Hesabin var ? <a href="../html/login.html">Girish et</a></p>
            <input placeholder="Ad" type="text" class="register_input" />
            <input placeholder="Soyad" type="text" class="register_input" />
            <input
              placeholder="Istifadeci Adi"
              type="text"
              class="register_input"
            />

            <input placeholder="Email" type="email" class="register_input" />
            <input placeholder="Şifrə" type="password" class="register_input" />
            <input
              placeholder="Şifrə Təkrar"
              type="password"
              class="register_input"
            />
            <div class="checkbox_input">
              <input type="checkbox" />
              <p>Qebul edirem</p>
            </div>
            <a><button>Qeydiyyat</button></a>
          </div>
        </div>
      </div>