  @model RegisterViewModel


<div class="register">
        <div class="register_container">
          <div class="register_left"></div>
          <div class="register_right">
            <h1>Qeydiyyat</h1>
         
             <p>Hesabin var ? <a asp-action="login" asp-controller="account">Girish et</a></p>

            <form action="#" method="post">
              <div
                class="alert alert-danger"
                asp-validation-summary="ModelOnly"
              ></div>

              <input
                asp-for="Name"
                class="form-control register_input"
                placeholder="Ad"
                type="text"
              />
              <span class="text text-danger" asp-validation-for="Name"></span>
              <input
                asp-for="Surname"
                class="form-control register_input"
                placeholder="Soyad"
                type="text"
              />
              <span
                class="text text-danger"
                asp-validation-for="Surname"
              ></span>

              <input
                asp-for="UserName"
                class="form-control register_input"
                placeholder="Istifadeci Adi"
                type="text"
              />
              <span
                class="text text-danger"
                asp-validation-for="UserName"
              ></span>

              <input
                asp-for="Email"
                class="form-control register_input"
                placeholder="Email"
                type="email"
              />
              <span class="text text-danger" asp-validation-for="Email"></span>

              <input
                asp-for="Password"
                class="form-control register_input"
                placeholder="Şifrə"
                type="password"
              />
              <span
                class="text text-danger"
                asp-validation-for="Password"
              ></span>

              <input
                asp-for="ConfirmPassword"
                class="form-control register_input"
                placeholder="Tekrar Şifrə"
                type="password"
              />
              <span
                class="text text-danger"
                asp-validation-for="ConfirmPassword"
              ></span>

              <div class="checkbox_input">
                <input type="checkbox" />
                <p>Xatirla</p>
              </div>

              <button type="submit">Girish et</button>
            </form>
        
          </div>
        </div>
      </div>