 @model ResetPasswordViewModel

<div class="reset">
        <div class="reset_container">
          <div class="reset_left"></div>
          <div class="reset_right">
            <h1>Yenilenme:</h1>
        
               <form action="#" method="post">
              <div
                class="alert alert-danger"
                asp-validation-summary="ModelOnly"
              ></div>

              <input
                asp-for="Password"
                class="form-control register_input"
                placeholder="Şifrə"
                type="password"
              />
              <span
                class="text text-danger"
                asp-validation-for="Password"
              ></span>

              <input
                asp-for="ConfirmPassword"
                class="form-control register_input"
                placeholder="Tekrar Şifrə"
                type="password"
              />
              <span
                class="text text-danger"
                asp-validation-for="ConfirmPassword"
              ></span>

              <button type="submit">Yenile</button>
            </form>

          </div>
        </div>
      </div>