 <div class="reset">
        <div class="reset_container">
          <div class="reset_left"></div>
          <div class="reset_right">
            <h1>Yenilenme:</h1>
            <input
              placeholder="Yeni Şifrə"
              type="password"
              class="register_input"
            />
            <input
              placeholder="Yeni Şifrə Təkrar"
              type="password"
              class="register_input"
            />
            <div class="checkbox_input">
              <input type="checkbox" />
              <p>Qebul edirem</p>
            </div>
            <a><button>Yenile</button></a>
          </div>
        </div>
      </div>