  <div class="update">
        <div class="update_container">
          <div class="update_left"></div>
          <div class="update_right">
            <h1>Yenile</h1>
            <input placeholder="Ad" type="text" class="register_input" />
            <input placeholder="Soyad" type="text" class="register_input" />
            <input
              placeholder="Istifadeci Adi"
              type="text"
              class="register_input"
            />

            <input placeholder="Email" type="email" class="register_input" />
            <input placeholder="Şifrə" type="password" class="register_input" />
            <input
              placeholder="Şifrə Təkrar"
              type="password"
              class="register_input"
            />

            <a><button>Yenile</button></a>
          </div>
        </div>
      </div>