.container {
  width: 1238px;
}
a {
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  color: $black_01;
}
.remember {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/images/Remember/Image1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  .remember_container {
    padding-top: 80px;
    h1 {
      font-family: Space Mono;
      font-size: 40px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0em;
      text-align: left;
      color: $white;
      width: 450px;
    }
    p {
      width: 395px;
      font-family: Work Sans;
      font-size: 20px;
      font-weight: 300;
      line-height: 25px;
      letter-spacing: 0em;
      text-align: left;
      color: $white;
      margin-top: 30px;
    }
    button {
      margin-top: 30px;
      width: 138px;
      height: 47px;
      > img {
        width: 29px;
        height: 21px;
        margin-left: 10px;
      }
    }
  }
}
@media screen and (max-width: 1238px) {
  .container {
    width: 740px;
  }
  .remember {
    width: 100%;
    background-image: url(../../assets/images/Remember/Image1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    .remember_container {
      padding-top: 80px;
      h1 {
        font-family: Space Mono;
        font-size: 34px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        color: $white;
        width: 390px;
      }
      p {
        width: 300px;
        font-family: Work Sans;
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: $white;
        margin-top: 30px;
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .container {
    width: 370px;
  }
  .remember {
    width: 100%;

    background-image: url(../../assets/images/Remember/Image1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    .remember_container {
      padding-top: 200px;
      h1 {
        font-family: Space Mono;
        font-size: 32px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
        color: $white;
        width: 350px;
      }
      .hide_paragraf {
        display: none;
      }
      button {
        border: 1px solid $orange_01;
      }
    }
  }
}
.products {
  .products_container {
    padding-top: 80px;
    padding-bottom: 80px;
    > h1 {
      @include H1;
    }
    .newproducts {
      display: flex;
      justify-content: space-between;
      .product {
        width: 295px;
        height: 415px;
        background-color: $white;
        border-radius: 8px 8px;
        > img {
          width: 295px;
          height: 295px;
          border-radius: 8px 8px 0px 0px;
        }
        .def {
          font-family: Work Sans;
          font-size: 20px;
          font-weight: 496;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          margin-left: 10px;
          margin-bottom: 10px;
          margin-top: 7px;
        }
        .cat {
          font-family: Space Mono;
          font-size: 14px;
          font-weight: 450;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          color: $orange_03;
          margin-bottom: 6px;
          margin-left: 10px;
        }
        .price_star {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .price {
            font-family: New York;
            font-size: 16px;
            font-weight: 496;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: $black_03;
            margin-left: 10px;
          }
          .stars {
            display: flex;
            gap: 7px;
            margin-right: 10px;
            > img {
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1238px) {
  .container {
    width: 740px;
  }
  .products {
    .products_container {
      padding-top: 60px;
      padding-bottom: 60px;
      .newproducts {
        display: flex;
        justify-content: space-between;
        .product {
          width: 230px;
          height: 350px;
          background-color: $white;
          border-radius: 8px 8px;
          > img {
            width: 230px;
            height: 230px;
            border-radius: 8px 8px 0px 0px;
          }
          .def {
            font-family: Work Sans;
            font-size: 18px;
            font-weight: 496;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            margin-left: 10px;
            margin-bottom: 10px;
            margin-top: 7px;
          }
          .cat {
            font-family: Space Mono;
            font-size: 14px;
            font-weight: 450;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
            color: $orange_03;
            margin-bottom: 6px;
            margin-left: 10px;
          }
          .price_star {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .price {
              font-family: New York;
              font-size: 16px;
              font-weight: 496;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: $black_03;
              margin-left: 10px;
            }
            .stars {
              display: flex;
              gap: 7px;
              margin-right: 10px;
              > img {
                width: 12px;
                height: 12px;
              }
            }
          }
        }
        .hide {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .container {
    width: 370px;
  }
  .products {
    .products_container {
      padding-top: 40px;
      padding-bottom: 40px;
      > h1 {
        @include H1Responsive;
      }
      .newproducts {
        display: flex;
        justify-content: space-between;
        .product {
          width: 180px;
          height: 280px;
          background-color: $white;
          border-radius: 8px 8px;
          > img {
            width: 180px;
            height: 180px;
            border-radius: 8px 8px 0px 0px;
          }
          .def {
            font-family: Work Sans;
            font-size: 15px;
            font-weight: 496;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            margin-left: 10px;
            margin-bottom: 10px;
            margin-top: 5px;
          }
          .cat {
            font-family: Space Mono;
            font-size: 12px;
            font-weight: 450;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            color: $orange_03;
            margin-bottom: 6px;
            margin-left: 10px;
          }
          .price_star {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .price {
              font-family: New York;
              font-size: 14px;
              font-weight: 496;
              line-height: 22px;
              letter-spacing: 0em;
              text-align: left;
              color: $black_03;
              margin-left: 10px;
            }
            .stars {
              display: flex;
              gap: 7px;
              margin-right: 10px;
              > img {
                width: 12px;
                height: 12px;
              }
            }
          }
        }
        .hidden {
          display: none;
        }
      }
    }
  }
}
.smeels {
  .smells_container {
    padding-bottom: 80px;
    > h1 {
      @include H1;
    }
    .newsmeels {
      display: flex;
      justify-content: space-between;
      .smell {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 295px;
        height: 415px;
        border-radius: 12px;
        > h3 {
          width: 200px;
          color: $white;
          font-family: Space Mono;
          font-size: 20px;
          font-weight: 496;
          line-height: 24px;
          letter-spacing: 0em;
          display: flex;
          margin-left: 15px;
          margin-bottom: 6px;
          margin-top: 310px;
        }
        > p {
          font-family: Work Sans;
          font-size: 14px;
          font-weight: 300;
          line-height: 16px;
          letter-spacing: 0em;
          width: 190px;
          color: $white;
          display: flex;
          margin-left: 15px;
        }
      }
    }
  }
}
@media screen and (max-width: 1238px) {
  .smeels {
    .smells_container {
      padding-bottom: 60px;
      .newsmeels {
        display: flex;
        justify-content: space-between;
        .smell {
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          width: 230px;
          height: 300px;
          border-radius: 12px;
          > h3 {
            width: 180px;
            color: $white;
            font-family: Space Mono;
            font-size: 18px;
            font-weight: 496;
            line-height: 20px;
            letter-spacing: 0em;
            display: flex;
            margin-left: 10px;
            margin-bottom: 6px;
            margin-top: 200px;
          }
          > p {
            font-family: Work Sans;
            font-size: 14px;
            font-weight: 300;
            line-height: 16px;
            letter-spacing: 0em;
            width: 170px;
            color: $white;
            display: flex;
            margin-left: 10px;
          }
        }
        .hide {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .smeels {
    .smells_container {
      padding-bottom: 40px;
      > h1 {
        @include H1Responsive;
      }
      .newsmeels {
        display: flex;
        justify-content: space-between;
        .smell {
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          width: 180px;
          height: 270px;
          border-radius: 12px;
          > h3 {
            width: 180px;
            color: $white;
            font-family: Space Mono;
            font-size: 16px;
            font-weight: 496;
            line-height: 20px;
            letter-spacing: 0em;
            display: flex;
            margin-left: 10px;
            margin-bottom: 6px;
            margin-top: 220px;
          }
          > p {
            display: none;
          }
        }
        .hidden {
          display: none;
        }
      }
    }
  }
}
.smokes {
  .smokes_container {
    padding-bottom: 80px;
    > h1 {
      @include H1;
    }
    .newsmokes {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 15px;
      .smoke {
        width: 400px;

        border-radius: 7px 7px;
        background-color: $white;
        > img {
          width: 100%;
          height: 277px;
          border-radius: 7px 7px 0px 0px;
        }
        .responsive {
          > h3 {
            font-family: Space Mono;
            font-size: 24px;
            font-weight: 496;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: left;
            color: $orange_01;
            margin-left: 15px;
            margin-bottom: 12px;
            margin-top: 8px;
          }
          > p {
            font-family: Work Sans;
            font-size: 18px;
            font-weight: 496;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            margin-left: 15px;
            margin-bottom: 12px;
            margin-right: 10px;
          }
          .button_image {
            width: 55px;
            height: 45px;
            margin-left: 15px;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1238px) {
  .smokes {
    .smokes_container {
      padding-bottom: 60px;
      .newsmokes {
        display: flex;
        justify-content: space-between;
        .smoke {
          width: 330px;
          height: 350px;
          border-radius: 7px 7px;
          background-color: $white;
          > img {
            width: 100%;
            height: 277px;
            border-radius: 7px 7px 0px 0px;
          }
          .responsive {
            display: flex;
            > h3 {
              font-family: Space Mono;
              font-size: 24px;
              font-weight: 496;
              line-height: 29px;
              letter-spacing: 0em;
              text-align: left;
              color: $orange_01;
              margin-left: 15px;
              margin-bottom: 12px;
              margin-top: 15px;
            }
            > p {
              display: none;
            }
            .button_image {
              width: 55px;
              height: 45px;
              margin-left: 75px;
              margin-top: 10px;
            }
          }
        }
        .hide {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .smokes {
    .smokes_container {
      padding-bottom: 40px;
      > h1 {
        @include H1Responsive;
      }
      .newsmokes {
        display: flex;
        justify-content: space-between;
        .smoke {
          width: 370px;
          height: 300px;
          border-radius: 7px 7px;
          background-color: $white;
          > img {
            width: 100%;
            height: 250px;
            border-radius: 7px 7px 0px 0px;
          }
          .responsive {
            display: flex;
            > h3 {
              font-family: Space Mono;
              font-size: 20px;
              font-weight: 496;
              line-height: 25px;
              letter-spacing: 0em;
              text-align: left;
              color: $orange_01;
              margin-left: 15px;
              margin-bottom: 12px;
              margin-top: 10px;
            }
            > p {
              display: none;
            }
            .button_image {
              width: 40px;
              height: 30px;
              margin-left: 165px;
              margin-top: 5px;
            }
          }
        }
        .hidden {
          display: none;
        }
      }
    }
  }
}
.sellests {
  .sellests_container {
    padding-bottom: 80px;
    > h1 {
      @include H1;
    }
    .newsellests {
      display: flex;
      justify-content: space-between;
      .sellest {
        width: 295px;
        height: 415px;
        background-color: $white;
        border-radius: 8px 8px;
        > img {
          width: 295px;
          height: 295px;
          border-radius: 8px 8px 0px 0px;
        }
        .def {
          font-family: Work Sans;
          font-size: 20px;
          font-weight: 496;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          margin-left: 10px;
          margin-bottom: 10px;
          margin-top: 7px;
        }
        .cat {
          font-family: Space Mono;
          font-size: 14px;
          font-weight: 450;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          color: $orange_03;
          margin-bottom: 6px;
          margin-left: 10px;
        }
        .price_star {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .price {
            font-family: New York;
            font-size: 16px;
            font-weight: 496;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: $black_03;
            margin-left: 10px;
          }
          .stars {
            display: flex;
            gap: 7px;
            margin-right: 10px;
            > img {
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1238px) {
  .container {
    width: 740px;
  }
  .sellests {
    .sellests_container {
      padding-bottom: 60px;
      .newsellests {
        display: flex;
        justify-content: space-between;
        .sellest {
          width: 230px;
          height: 350px;
          background-color: $white;
          border-radius: 8px 8px;
          > img {
            width: 230px;
            height: 230px;
            border-radius: 8px 8px 0px 0px;
          }
          .def {
            font-family: Work Sans;
            font-size: 18px;
            font-weight: 496;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            margin-left: 10px;
            margin-bottom: 10px;
            margin-top: 7px;
          }
          .cat {
            font-family: Space Mono;
            font-size: 14px;
            font-weight: 450;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
            color: $orange_03;
            margin-bottom: 6px;
            margin-left: 10px;
          }
          .price_star {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .price {
              font-family: New York;
              font-size: 16px;
              font-weight: 496;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: $black_03;
              margin-left: 10px;
            }
            .stars {
              display: flex;
              gap: 7px;
              margin-right: 10px;
              > img {
                width: 12px;
                height: 12px;
              }
            }
          }
        }
        .hide {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .container {
    width: 370px;
  }
  .sellests {
    .sellests_container {
      padding-bottom: 40px;
      > h1 {
        @include H1Responsive;
      }
      .newsellests {
        display: flex;
        justify-content: space-between;
        .sellest {
          width: 180px;
          height: 280px;
          background-color: $white;
          border-radius: 8px 8px;
          > img {
            width: 180px;
            height: 180px;
            border-radius: 8px 8px 0px 0px;
          }
          .def {
            font-family: Work Sans;
            font-size: 14px;
            font-weight: 496;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            margin-left: 10px;
            margin-bottom: 10px;
            margin-top: 5px;
          }
          .cat {
            font-family: Space Mono;
            font-size: 12px;
            font-weight: 450;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            color: $orange_03;
            margin-bottom: 6px;
            margin-left: 10px;
          }
          .price_star {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .price {
              font-family: New York;
              font-size: 14px;
              font-weight: 496;
              line-height: 22px;
              letter-spacing: 0em;
              text-align: left;
              color: $black_03;
              margin-left: 10px;
            }
            .stars {
              display: flex;
              gap: 7px;
              margin-right: 10px;
              > img {
                width: 12px;
                height: 12px;
              }
            }
          }
        }
        .hidden {
          display: none;
        }
      }
    }
  }
}
.giftbox {
  .giftbox_container {
    padding-bottom: 80px;
    > h1 {
      @include H1;
    }
    .giftbox_common {
      display: flex;
      flex-direction: row;
      gap: 60px;
      .giftbox_left {
        margin-top: 30px;
        width: 505px;
        border-radius: 10px;
        height: 431px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        background-color: $black_01;
        > h1 {
          color: $orange_01;
          font-family: Space Mono;
          font-size: 42px;
          font-weight: 500;
          line-height: 50px;
          letter-spacing: 0em;
          text-align: center;
        }
        > p {
          width: 364px;
          font-family: Work Sans;
          font-size: 20px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0em;
          text-align: center;
          color: $white;
        }
        > a {
          text-decoration: none;
          > button {
            width: 154px;
            height: 49px;
            line-height: 23px;
            > img {
              width: 34px;
              height: 25px;
              margin-left: 10px;
            }
          }
        }
      }
      .giftbox_right {
        width: 800px;
        gap: 20px;
        > img {
        }
      }
    }
  }
}
@media screen and (max-width: 1238px) {
  .giftbox {
    .giftbox_container {
      padding-bottom: 60px;
      .giftbox_common {
        display: flex;
        flex-direction: row;
        gap: 100px;
        .giftbox_left {
          margin-top: 20px;
          width: 460px;
          border-radius: 10px;
          height: 350px;
          display: flex;
          flex-direction: column;
          gap: 25px;
          justify-content: center;
          align-items: center;
          background-color: $black_01;
          > h1 {
            color: $orange_01;
            font-family: Space Mono;
            font-size: 28px;
            font-weight: 500;
            line-height: 36px;
            letter-spacing: 0em;
            text-align: center;
          }
          > p {
            width: 300px;
            font-family: Work Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            color: $white;
          }
          > a {
            text-decoration: none;
            > button {
              width: 140px;
              font-size: 14px;
              font-weight: 400;
              line-height: 23px;
            }
          }
        }
        .giftbox_right {
          width: 400px;
          gap: 20px;
          > a {
            > img {
              height: 400px;
            }
          }
          .hide {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .giftbox {
    .giftbox_container {
      padding-bottom: 40px;
      > h1 {
        @include H1Responsive;
      }
      .giftbox_common {
        display: flex;
        flex-direction: row;
        gap: 0px;
        .giftbox_left {
          margin-top: 0;
          width: 400px;
          border-radius: 10px;
          height: 300px;
          display: flex;
          flex-direction: column;
          gap: 30px;
          justify-content: center;
          align-items: center;
          background-color: $black_01;
          > h1 {
            color: $orange_01;
            font-family: Space Mono;
            font-size: 25px;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: 0em;
            text-align: center;
          }
          > p {
            width: 350px;
            font-family: Work Sans;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: center;
            color: $white;
          }
          > a {
            text-decoration: none;
            > button {
              width: 140px;
              height: 40px;
              font-size: 14px;
              font-weight: 400;
              line-height: 23px;
              border: 1px solid $orange_01;
            }
          }
        }
        .giftbox_right {
          display: none;
        }
        .hidden {
          display: none;
        }
      }
    }
  }
}
.discounts {
  .discounts_container {
    padding-bottom: 80px;
    > h1 {
      @include H1;
    }
    .newdiscounts {
      display: flex;
      justify-content: space-between;
      .discount {
        width: 295px;
        height: 415px;
        background-color: $white;
        border-radius: 8px 8px;
        > img {
          width: 295px;
          height: 295px;
          border-radius: 8px 8px 0px 0px;
        }
        .def {
          font-family: Work Sans;
          font-size: 20px;
          font-weight: 496;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          margin-left: 10px;
          margin-bottom: 10px;
          margin-top: 7px;
        }
        .cat {
          font-family: Space Mono;
          font-size: 14px;
          font-weight: 450;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          color: $orange_03;
          margin-bottom: 6px;
          margin-left: 10px;
        }
        .price_star {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .price {
            font-family: New York;
            font-size: 16px;
            font-weight: 496;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: $black_03;
            margin-left: 10px;
          }
          .price_discount {
            font-family: Work Sans;
            font-size: 12px;
            font-weight: 496;
            line-height: 14px;
            letter-spacing: 0em;
            color: $black_04;
            text-align: left;
          }
          .stars {
            display: flex;
            gap: 7px;
            margin-right: 10px;
            > img {
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1238px) {
  .container {
    width: 740px;
  }
  .discounts {
    .discounts_container {
      padding-bottom: 60px;
      .newdiscounts {
        display: flex;
        justify-content: space-between;
        .discount {
          width: 230px;
          height: 350px;
          background-color: $white;
          border-radius: 8px 8px;
          > img {
            width: 230px;
            height: 230px;
            border-radius: 8px 8px 0px 0px;
          }
          .def {
            font-family: Work Sans;
            font-size: 18px;
            font-weight: 496;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            margin-left: 10px;
            margin-bottom: 10px;
            margin-top: 7px;
          }
          .cat {
            font-family: Space Mono;
            font-size: 14px;
            font-weight: 450;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
            color: $orange_03;
            margin-bottom: 6px;
            margin-left: 10px;
          }
          .price_star {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .price {
              font-family: New York;
              font-size: 16px;
              font-weight: 496;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: $black_03;
              margin-left: 10px;
            }
            .price_discount {
              font-family: Work Sans;
              font-size: 12px;
              font-weight: 496;
              line-height: 14px;
              letter-spacing: 0em;
              color: $black_04;
              text-align: left;
            }
            .stars {
              display: flex;
              gap: 7px;
              margin-right: 10px;
              > img {
                width: 12px;
                height: 12px;
              }
            }
          }
        }
        .hide {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .container {
    width: 370px;
  }
  .discounts {
    .discounts_container {
      padding-bottom: 40px;
      > h1 {
        @include H1Responsive;
      }
      .newdiscounts {
        display: flex;
        justify-content: space-between;
        .discount {
          width: 180px;
          height: 280px;
          background-color: $white;
          border-radius: 8px 8px;
          > img {
            width: 180px;
            height: 180px;
            border-radius: 8px 8px 0px 0px;
          }
          .def {
            font-family: Work Sans;
            font-size: 14px;
            font-weight: 496;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            margin-left: 10px;
            margin-bottom: 10px;
            margin-top: 5px;
          }
          .cat {
            font-family: Space Mono;
            font-size: 12px;
            font-weight: 450;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            color: $orange_03;
            margin-bottom: 6px;
            margin-left: 10px;
          }
          .price_star {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .price {
              font-family: New York;
              font-size: 14px;
              font-weight: 496;
              line-height: 22px;
              letter-spacing: 0em;
              text-align: left;
              color: $black_03;
              margin-left: 10px;
            }
            .price_discount {
              font-family: Work Sans;
              font-size: 10px;
              font-weight: 496;
              line-height: 14px;
              letter-spacing: 0em;
              color: $black_04;
              text-align: left;
            }
            .stars {
              display: flex;
              gap: 2px;
              margin-right: 4px;
              > img {
                width: 10px;
                height: 10px;
              }
            }
          }
        }
        .hidden {
          display: none;
        }
      }
    }
  }
}
.testing {
  width: 100%;
  background-color: $black_01;
  .testing_container {
    padding-bottom: 80px;
    display: flex;
    margin: auto;
    margin-top: 75px;
    .testing_common {
      display: flex;
      gap: 140px;
      align-items: center;
      .testing_left {
        width: 602px;
        height: 383px;
        > img {
          width: 100%;
          height: 100%;
        }
      }
      .testing_right {
        width: 470px;
        height: 243px;
        > h1 {
          font-family: Space Mono;
          font-size: 32px;
          font-weight: 496;
          line-height: 40px;
          letter-spacing: 0em;
          color: $orange_01;
          text-align: left;
          margin-bottom: 40px;
        }
        > a {
          text-decoration: none;
          > button {
            width: 154px;
            height: 49px;
            font-size: 18px;
            font-weight: 400;
            line-height: 23px;
            > img {
              width: 34px;
              height: 25px;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1238px) {
  .testing {
    .testing_container {
      padding-bottom: 60px;
      display: flex;
      margin: auto;
      margin-top: 60px;
      .testing_common {
        display: flex;
        gap: 60px;
        align-items: center;
        .testing_left {
          width: 330px;
          height: 250px;
          > img {
            width: 100%;
            height: 100%;
          }
        }
        .testing_right {
          width: 340px;
          height: 160px;
          > h1 {
            font-family: Space Mono;
            font-size: 24px;
            font-weight: 496;
            line-height: 30px;
            letter-spacing: 0em;
            color: $orange_01;
            text-align: left;
            margin-bottom: 30px;
          }
          > a {
            text-decoration: none;
            > button {
              width: 135px;
              height: 40px;
              font-size: 16px;
              font-weight: 400;
              line-height: 21px;

              > img {
                width: 32px;
                height: 22px;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .testing {
    .testing_container {
      padding-bottom: 40px;
      display: flex;
      margin: auto;
      justify-content: center;
      margin-top: 40px;
      .testing_common {
        display: flex;
        gap: 0px;
        align-items: center;
        .testing_left {
          display: none;
        }
        .testing_right {
          width: 340px;
          height: 160px;
          > h1 {
            font-family: Space Mono;
            font-size: 20px;
            font-weight: 496;
            line-height: 30px;
            letter-spacing: 0em;
            color: $orange_01;
            text-align: center;
            margin-bottom: 30px;
          }
          > a {
            text-decoration: none;
            display: flex;
            justify-content: center;
            > button {
              width: 135px;
              height: 40px;
              font-family: Work Sans;
              font-size: 16px;
              font-weight: 400;
              line-height: 21px;
              letter-spacing: 0em;
              text-align: center;
              color: $orange_01;
              border: 1px solid $orange_01;
              background-color: transparent;
              display: flex;
              justify-content: center;
              align-items: center;

              > img {
                width: 32px;
                height: 22px;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}
.comments {
  .comments_container {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > h1 {
      @include H1;
    }
    .modal_comment {
      margin: auto;
      width: 820px;
      background-color: $white;
      border-radius: 10px;
      > img {
        width: 36.5px;
        height: 31px;
        margin-top: 10px;
        margin-left: 10px;
      }
      .modal_inner {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        .modal_top {
          display: flex;
          align-items: center;
          width: 610px;
          .modal_top_left {
            > img {
              width: 85px;
              height: 85px;
              border-radius: 50%;
              margin-right: 15px;
            }
          }
          .modal_top_right {
            > h3 {
              font-family: Work Sans;
              font-size: 20px;
              font-weight: 496;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: $orange_01;
            }
            > p {
              font-family: Work Sans;
              font-size: 16px;
              font-weight: 450;
              line-height: 21px;
              letter-spacing: 0em;
              text-align: left;
              color: $black_03;
            }
          }
        }

        > p {
          font-family: Work Sans;
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0em;
          text-align: left;
          color: $black_01;
          width: 610px;
        }
      }
      .end {
        float: right;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
@media screen and (max-width: 1238px) {
  .comments {
    .comments_container {
      padding-top: 60px;
      padding-bottom: 60px;
      > h1 {
        margin-top: 30px;
      }
      .modal_comment {
        width: 740px;
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .comments {
    .comments_container {
      padding-top: 40px;
      padding-bottom: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      > h1 {
        @include H1Responsive;
        margin-top: 30px;
      }
      .modal_comment {
        margin: auto;
        width: 370px;
        background-color: $white;
        > img {
          width: 28px;
          height: 20px;
          margin-top: 10px;
          margin-left: 10px;
        }
        .modal_inner {
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: center;
          align-items: center;
          .modal_top {
            display: flex;
            align-items: center;
            width: 280px;
            margin-top: 10px;
            .modal_top_left {
              > img {
                width: 55px;
                height: 55px;
                border-radius: 50%;
                margin-right: 10px;
              }
            }
            .modal_top_right {
              > h3 {
                font-family: Work Sans;
                font-size: 18px;
                font-weight: 496;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
                color: $orange_01;
              }
              > p {
                font-family: Work Sans;
                font-size: 14px;
                font-weight: 450;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
                color: $black_03;
              }
            }
          }

          > p {
            font-family: Work Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
            color: $black_01;
            width: 280px;
          }
        }
        .end {
          float: right;
          margin-right: 10px;
        }
      }
    }
  }
}
.functions {
  border: 1px solid $black_03;
  .functions_container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    .function {
      width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      > a {
        > img {
          width: 85px;
          height: 50px;
          margin-bottom: 15px;
        }
      }
      > h3 {
        font-family: Work Sans;
        font-size: 20px;
        font-weight: 674;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: $orange_01;
        margin-bottom: 10px;
      }
      > p {
        font-family: Work Sans;
        font-size: 18px;
        font-weight: 300;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        color: $black_02;
      }
    }
    .line {
      width: 1px;
      height: 140px;
      background-color: $black_04;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
@media screen and (max-width: 1238px) {
  .functions {
    border: 1px solid $black_03;
    .functions_container {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      .function {
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        > a {
          > img {
            width: 85px;
            height: 50px;
            margin-bottom: 10px;
          }
        }
        > h3 {
          font-family: Work Sans;
          font-size: 18px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: center;
          color: $orange_01;
          margin-bottom: 10px;
        }
        > p {
          font-family: Work Sans;
          font-size: 16px;
          font-weight: 300;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: center;
          color: $black_02;
        }
      }
      .line {
        width: 1px;
        height: 160px;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .functions {
    border: none;
    .functions_container {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .function {
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        > a {
          > img {
            width: 60px;
            height: 40px;
            margin-bottom: 5px;
          }
        }
        > h3 {
          font-family: Work Sans;
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: center;
          color: $orange_01;
          margin-bottom: 5px;
        }
        > p {
          font-family: Work Sans;
          font-size: 12px;
          font-weight: 300;
          line-height: 16px;
          letter-spacing: 0em;
          text-align: center;
          color: $black_02;
        }
      }
      .line {
        display: none;
      }
    }
  }
}
