.container {
  width: 1238px;
}
.remember {
  width: 100%;
  height: 660px;
  background-image: url(../../assets/images/Remember/Image1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  .remember_container {
    padding-top: 80px;
    h1 {
      font-family: Space Mono;
      font-size: 40px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0em;
      text-align: left;
      color: $white;
      width: 450px;
    }
    p {
      width: 395px;
      font-family: Work Sans;
      font-size: 20px;
      font-weight: 300;
      line-height: 25px;
      letter-spacing: 0em;
      text-align: left;
      color: $white;
      margin-top: 30px;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      width: 138px;
      height: 47px;
      background-color: transparent;
      color: $orange_02;
      border-color: $orange_02;
      font-family: Space Mono;
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: center;
      border-radius: 5px;
      > img {
        width: 29px;
        height: 21px;
        margin-left: 10px;
      }
    }
  }
}
@media screen and (max-width: 1238px) {
  .container {
    width: 740px;
  }
  .remember {
    width: 100%;
    height: 520px;
    background-image: url(../../assets/images/Remember/Image1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    .remember_container {
      padding-top: 80px;
      h1 {
        font-family: Space Mono;
        font-size: 34px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        color: $white;
        width: 390px;
      }
      p {
        width: 300px;
        font-family: Work Sans;
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: $white;
        margin-top: 30px;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        width: 138px;
        height: 47px;
        background-color: transparent;
        color: $orange_02;
        border-color: $orange_02;
        font-family: Space Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        border-radius: 5px;
        > img {
          width: 29px;
          height: 21px;
          margin-left: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .container {
    width: 370px;
  }
  .remember {
    width: 100%;
    height: 520px;
    background-image: url(../../assets/images/Remember/Image1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    .remember_container {
      padding-top: 200px;
      h1 {
        font-family: Space Mono;
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        color: $white;
        width: 350px;
      }
      .hide_paragraf {
        display: none;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        width: 138px;
        height: 47px;
        background-color: transparent;
        color: $orange_02;
        border-color: $orange_02;
        font-family: Space Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        border-radius: 5px;
        > img {
          width: 29px;
          height: 21px;
          margin-left: 10px;
        }
      }
    }
  }
}
.products {
  .products_container {
    padding-top: 80px;
    padding-bottom: 80px;
    > h1 {
      color: $black_01;
      font-family: Space Mono;
      font-size: 32px;
      font-weight: 496;
      line-height: 38px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 30px;
    }
    .newproducts {
      display: flex;
      justify-content: space-between;
      .product {
        width: 295px;
        height: 415px;
        background-color: $white;
        border-radius: 8px 8px;
        > img {
          width: 295px;
          height: 295px;
          border-radius: 8px 8px 0px 0px;
        }
        .def {
          font-family: Work Sans;
          font-size: 20px;
          font-weight: 496;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          margin-left: 10px;
          margin-bottom: 10px;
          margin-top: 7px;
        }
        .cat {
          font-family: Space Mono;
          font-size: 14px;
          font-weight: 450;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          color: $orange_03;
          margin-bottom: 6px;
          margin-left: 10px;
        }
        .price_star {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .price {
            font-family: New York;
            font-size: 16px;
            font-weight: 496;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: $black_03;
            margin-left: 10px;
          }
          .stars {
            display: flex;
            gap: 7px;
            margin-right: 10px;
            > img {
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1238px) {
  .container {
    width: 740px;
  }
  .products {
    .products_container {
      padding-top: 60px;
      padding-bottom: 60px;
      > h1 {
        color: $black_01;
        font-family: Space Mono;
        font-size: 32px;
        font-weight: 496;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 30px;
      }
      .newproducts {
        display: flex;
        justify-content: space-between;
        .product {
          width: 230px;
          height: 350px;
          background-color: $white;
          border-radius: 8px 8px;
          > img {
            width: 230px;
            height: 230px;
            border-radius: 8px 8px 0px 0px;
          }
          .def {
            font-family: Work Sans;
            font-size: 18px;
            font-weight: 496;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            margin-left: 10px;
            margin-bottom: 10px;
            margin-top: 7px;
          }
          .cat {
            font-family: Space Mono;
            font-size: 14px;
            font-weight: 450;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
            color: $orange_03;
            margin-bottom: 6px;
            margin-left: 10px;
          }
          .price_star {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .price {
              font-family: New York;
              font-size: 16px;
              font-weight: 496;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: $black_03;
              margin-left: 10px;
            }
            .stars {
              display: flex;
              gap: 7px;
              margin-right: 10px;
              > img {
                width: 12px;
                height: 12px;
              }
            }
          }
        }
        .hide {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .container {
    width: 370px;
  }
  .products {
    .products_container {
      padding-top: 40px;
      padding-bottom: 40px;
      > h1 {
        color: $black_01;
        font-family: Space Mono;
        font-size: 20px;
        font-weight: 496;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 20px;
      }
      .newproducts {
        display: flex;
        justify-content: space-between;
        .product {
          width: 180px;
          height: 300px;
          background-color: $white;
          border-radius: 8px 8px;
          > img {
            width: 180px;
            height: 180px;
            border-radius: 8px 8px 0px 0px;
          }
          .def {
            font-family: Work Sans;
            font-size: 16px;
            font-weight: 496;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            margin-left: 10px;
            margin-bottom: 10px;
            margin-top: 7px;
          }
          .cat {
            font-family: Space Mono;
            font-size: 12px;
            font-weight: 450;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            color: $orange_03;
            margin-bottom: 6px;
            margin-left: 10px;
          }
          .price_star {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .price {
              font-family: New York;
              font-size: 14px;
              font-weight: 496;
              line-height: 22px;
              letter-spacing: 0em;
              text-align: left;
              color: $black_03;
              margin-left: 10px;
            }
            .stars {
              display: flex;
              gap: 7px;
              margin-right: 10px;
              > img {
                width: 12px;
                height: 12px;
              }
            }
          }
        }
        .hidden {
          display: none;
        }
      }
    }
  }
}
.smeels {
  .smells_container {
    padding-bottom: 80px;
    > h1 {
      color: $black_01;
      font-family: Space Mono;
      font-size: 32px;
      font-weight: 496;
      line-height: 38px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 30px;
    }
    .newsmeels {
      display: flex;
      justify-content: space-between;
      .smell {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 295px;
        height: 415px;
        border-radius: 12px;
        > h3 {
          width: 200px;
          color: $white;
          font-family: Space Mono;
          font-size: 20px;
          font-weight: 496;
          line-height: 24px;
          letter-spacing: 0em;
          display: flex;
          margin-left: 15px;
          margin-bottom: 6px;
          margin-top: 310px;
        }
        > p {
          font-family: Work Sans;
          font-size: 14px;
          font-weight: 300;
          line-height: 16px;
          letter-spacing: 0em;
          width: 190px;
          color: $white;
          display: flex;
          margin-left: 15px;
        }
      }
    }
  }
}
@media screen and (max-width: 1238px) {
  .smeels {
    .smells_container {
      padding-bottom: 60px;
      > h1 {
        color: $black_01;
        font-family: Space Mono;
        font-size: 32px;
        font-weight: 496;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 30px;
      }
      .newsmeels {
        display: flex;
        justify-content: space-between;
        .smell {
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          width: 230px;
          height: 300px;
          border-radius: 12px;
          > h3 {
            width: 180px;
            color: $white;
            font-family: Space Mono;
            font-size: 18px;
            font-weight: 496;
            line-height: 20px;
            letter-spacing: 0em;
            display: flex;
            margin-left: 10px;
            margin-bottom: 6px;
            margin-top: 200px;
          }
          > p {
            font-family: Work Sans;
            font-size: 14px;
            font-weight: 300;
            line-height: 16px;
            letter-spacing: 0em;
            width: 170px;
            color: $white;
            display: flex;
            margin-left: 10px;
          }
        }
        .hide {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .smeels {
    .smells_container {
      padding-bottom: 40px;
      > h1 {
        color: $black_01;
        font-family: Space Mono;
        font-size: 20px;
        font-weight: 496;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 20px;
      }
      .newsmeels {
        display: flex;
        justify-content: space-between;
        .smell {
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          width: 180px;
          height: 270px;
          border-radius: 12px;
          > h3 {
            width: 180px;
            color: $white;
            font-family: Space Mono;
            font-size: 16px;
            font-weight: 496;
            line-height: 20px;
            letter-spacing: 0em;
            display: flex;
            margin-left: 10px;
            margin-bottom: 6px;
            margin-top: 220px;
          }
          > p {
            display: none;
          }
        }
        .hidden {
          display: none;
        }
      }
    }
  }
}
.smokes {
  .smokes_container {
    padding-bottom: 80px;
    > h1 {
      color: $black_01;
      font-family: Space Mono;
      font-size: 32px;
      font-weight: 496;
      line-height: 38px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 30px;
    }
    .newsmokes {
      display: flex;
      justify-content: space-between;
      .smoke {
        width: 400px;
        height: 483px;
        border-radius: 7px 7px;
        background-color: $white;
        > img {
          width: 100%;
          height: 277px;
          border-radius: 7px 7px 0px 0px;
        }
        .responsive {
          > h3 {
            font-family: Space Mono;
            font-size: 24px;
            font-weight: 496;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: left;
            color: $orange_01;
            margin-left: 15px;
            margin-bottom: 12px;
            margin-top: 8px;
          }
          > p {
            font-family: Work Sans;
            font-size: 18px;
            font-weight: 496;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            margin-left: 15px;
            margin-bottom: 12px;
          }
          .button_image {
            width: 55px;
            height: 45px;
            margin-left: 15px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1238px) {
  .smokes {
    .smokes_container {
      padding-bottom: 60px;
      > h1 {
        color: $black_01;
        font-family: Space Mono;
        font-size: 32px;
        font-weight: 496;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 30px;
      }
      .newsmokes {
        display: flex;
        justify-content: space-between;
        .smoke {
          width: 330px;
          height: 350px;
          border-radius: 7px 7px;
          background-color: $white;
          > img {
            width: 100%;
            height: 277px;
            border-radius: 7px 7px 0px 0px;
          }
          .responsive {
            display: flex;
            > h3 {
              font-family: Space Mono;
              font-size: 24px;
              font-weight: 496;
              line-height: 29px;
              letter-spacing: 0em;
              text-align: left;
              color: $orange_01;
              margin-left: 15px;
              margin-bottom: 12px;
              margin-top: 15px;
            }
            > p {
              display: none;
            }
            .button_image {
              width: 55px;
              height: 45px;
              margin-left: 75px;
              margin-top: 10px;
            }
          }
        }
        .hide {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .smokes {
    .smokes_container {
      padding-bottom: 40px;
      > h1 {
        color: $black_01;
        font-family: Space Mono;
        font-size: 20px;
        font-weight: 496;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 20px;
      }
      .newsmokes {
        display: flex;
        justify-content: space-between;
        .smoke {
          width: 370px;
          height: 300px;
          border-radius: 7px 7px;
          background-color: $white;
          > img {
            width: 100%;
            height: 250px;
            border-radius: 7px 7px 0px 0px;
          }
          .responsive {
            display: flex;
            > h3 {
              font-family: Space Mono;
              font-size: 20px;
              font-weight: 496;
              line-height: 25px;
              letter-spacing: 0em;
              text-align: left;
              color: $orange_01;
              margin-left: 15px;
              margin-bottom: 12px;
              margin-top: 10px;
            }
            > p {
              display: none;
            }
            .button_image {
              width: 40px;
              height: 30px;
              margin-left: 170px;
              margin-top: 5px;
            }
          }
        }
        .hidden {
          display: none;
        }
      }
    }
  }
}

.sellests {
  .sellests_container {
    padding-bottom: 80px;
    > h1 {
      color: $black_01;
      font-family: Space Mono;
      font-size: 32px;
      font-weight: 496;
      line-height: 38px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 30px;
    }
    .newsellests {
      display: flex;
      justify-content: space-between;
      .sellest {
        width: 295px;
        height: 415px;
        background-color: $white;
        border-radius: 8px 8px;
        > img {
          width: 295px;
          height: 295px;
          border-radius: 8px 8px 0px 0px;
        }
        .def {
          font-family: Work Sans;
          font-size: 20px;
          font-weight: 496;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          margin-left: 10px;
          margin-bottom: 10px;
          margin-top: 7px;
        }
        .cat {
          font-family: Space Mono;
          font-size: 14px;
          font-weight: 450;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          color: $orange_03;
          margin-bottom: 6px;
          margin-left: 10px;
        }
        .price_star {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .price {
            font-family: New York;
            font-size: 16px;
            font-weight: 496;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: $black_03;
            margin-left: 10px;
          }
          .stars {
            display: flex;
            gap: 7px;
            margin-right: 10px;
            > img {
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1238px) {
  .container {
    width: 740px;
  }
  .sellests {
    .sellests_container {
      padding-bottom: 60px;
      > h1 {
        color: $black_01;
        font-family: Space Mono;
        font-size: 32px;
        font-weight: 496;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 30px;
      }
      .newsellests {
        display: flex;
        justify-content: space-between;
        .sellest {
          width: 230px;
          height: 350px;
          background-color: $white;
          border-radius: 8px 8px;
          > img {
            width: 230px;
            height: 230px;
            border-radius: 8px 8px 0px 0px;
          }
          .def {
            font-family: Work Sans;
            font-size: 18px;
            font-weight: 496;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            margin-left: 10px;
            margin-bottom: 10px;
            margin-top: 7px;
          }
          .cat {
            font-family: Space Mono;
            font-size: 14px;
            font-weight: 450;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
            color: $orange_03;
            margin-bottom: 6px;
            margin-left: 10px;
          }
          .price_star {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .price {
              font-family: New York;
              font-size: 16px;
              font-weight: 496;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: $black_03;
              margin-left: 10px;
            }
            .stars {
              display: flex;
              gap: 7px;
              margin-right: 10px;
              > img {
                width: 12px;
                height: 12px;
              }
            }
          }
        }
        .hide {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .container {
    width: 370px;
  }
  .sellests {
    .sellests_container {
      padding-bottom: 40px;
      > h1 {
        color: $black_01;
        font-family: Space Mono;
        font-size: 20px;
        font-weight: 496;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 20px;
      }
      .newsellests {
        display: flex;
        justify-content: space-between;
        .sellest {
          width: 180px;
          height: 300px;
          background-color: $white;
          border-radius: 8px 8px;
          > img {
            width: 180px;
            height: 180px;
            border-radius: 8px 8px 0px 0px;
          }
          .def {
            font-family: Work Sans;
            font-size: 16px;
            font-weight: 496;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            margin-left: 10px;
            margin-bottom: 10px;
            margin-top: 7px;
          }
          .cat {
            font-family: Space Mono;
            font-size: 12px;
            font-weight: 450;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            color: $orange_03;
            margin-bottom: 6px;
            margin-left: 10px;
          }
          .price_star {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .price {
              font-family: New York;
              font-size: 14px;
              font-weight: 496;
              line-height: 22px;
              letter-spacing: 0em;
              text-align: left;
              color: $black_03;
              margin-left: 10px;
            }
            .stars {
              display: flex;
              gap: 7px;
              margin-right: 10px;
              > img {
                width: 12px;
                height: 12px;
              }
            }
          }
        }
        .hidden {
          display: none;
        }
      }
    }
  }
}
.giftbox {
  .giftbox_container {
    padding-bottom: 80px;
    > h1 {
      color: $black_01;
      font-family: Space Mono;
      font-size: 32px;
      font-weight: 496;
      line-height: 38px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 30px;
      width: 358px;
    }
    .giftbox_common {
      display: flex;
      flex-direction: row;
      gap: 60px;
      .giftbox_left {
        margin-top: 30px;
        width: 505px;
        border-radius: 10px;
        height: 431px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        background-color: $black_01;
        > h1 {
          color: $orange_01;
          font-family: Space Mono;
          font-size: 42px;
          font-weight: 500;
          line-height: 50px;
          letter-spacing: 0em;
          text-align: center;
        }
        > p {
          width: 364px;
          font-family: Work Sans;
          font-size: 20px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0em;
          text-align: center;
          color: $white;
        }
        > a {
          text-decoration: none;
          > button {
            border-radius: 10px;
            width: 154px;
            background-color: transparent;
            height: 49px;
            font-family: Space Mono;
            font-size: 16px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: center;
            color: $orange_01;
            border-color: $orange_01;
            display: flex;
            justify-content: center;
            align-items: center;
            > img {
              width: 34px;
              height: 25px;
              margin-left: 10px;
            }
          }
        }
      }
      .giftbox_right {
        width: 800px;
        gap: 20px;
        > img {
        }
      }
    }
  }
}
@media screen and (max-width: 1238px) {
  .giftbox {
    .giftbox_container {
      padding-bottom: 60px;
      .giftbox_common {
        display: flex;
        flex-direction: row;
        gap: 100px;
        .giftbox_left {
          margin-top: 20px;
          width: 460px;
          border-radius: 10px;
          height: 350px;
          display: flex;
          flex-direction: column;
          gap: 25px;
          justify-content: center;
          align-items: center;
          background-color: $black_01;
          > h1 {
            color: $orange_01;
            font-family: Space Mono;
            font-size: 28px;
            font-weight: 500;
            line-height: 36px;
            letter-spacing: 0em;
            text-align: center;
          }
          > p {
            width: 300px;
            font-family: Work Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            color: $white;
          }
          > a {
            text-decoration: none;
            > button {
              border-radius: 10px;
              width: 140px;
              background-color: transparent;
              height: 49px;
              font-family: Space Mono;
              font-size: 14px;
              font-weight: 400;
              line-height: 23px;
              letter-spacing: 0em;
              text-align: center;
              color: $orange_01;
              border: 2px solid $orange_01;
              display: flex;
              justify-content: center;
              align-items: center;
              > img {
                width: 34px;
                height: 25px;
                margin-left: 10px;
              }
            }
          }
        }
        .giftbox_right {
          width: 400px;
          gap: 20px;
          > a {
            > img {
              height: 400px;
            }
          }
          .hide {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .giftbox {
    .giftbox_container {
      padding-bottom: 40px;
      > h1 {
        color: $black_01;
        font-family: Space Mono;
        font-size: 20px;
        font-weight: 496;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 20px;
      }
      .giftbox_common {
        display: flex;
        flex-direction: row;
        gap: 0px;
        .giftbox_left {
          margin-top: 0;
          width: 400px;
          border-radius: 10px;
          height: 300px;
          display: flex;
          flex-direction: column;
          gap: 30px;
          justify-content: center;
          align-items: center;
          background-color: $black_01;
          > h1 {
            color: $orange_01;
            font-family: Space Mono;
            font-size: 25px;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: 0em;
            text-align: center;
          }
          > p {
            width: 350px;
            font-family: Work Sans;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: center;
            color: $white;
          }
          > a {
            text-decoration: none;
            > button {
              border-radius: 10px;
              width: 160px;
              background-color: transparent;
              height: 49px;
              font-family: Space Mono;
              font-size: 14px;
              font-weight: 400;
              line-height: 23px;
              letter-spacing: 0em;
              text-align: center;
              color: $orange_01;
              display: flex;
              border: 1px solid $orange_01;
              justify-content: center;
              align-items: center;
              > img {
                width: 34px;
                height: 25px;
                margin-left: 10px;
              }
            }
          }
        }
        .giftbox_right {
          display: none;
        }
        .hidden {
          display: none;
        }
      }
    }
  }
}
