


  <div class="basket">
        <div class="container basket_container">
          <div class="basketCommon">
            <div class="basket">
              <div class="basketInner">
                <div class="basketInner_left">
                  <img src="../assets/images/NewProduct/ProductImage.jpg" />
                  <div class="basketInner_left_right">
                    <h3>Our Creation of Dior's Ambre Nuit</h3>
                    <p>Hecmi : 30ml</p>
                    <p>Sayi : 1</p>
                  </div>
                </div>
                <div class="basketInner_right">
                  <h1>50$</h1>
                  <a> <img src="../assets/icons/tester/rubish.svg" /></a>
                </div>
              </div>
            </div>
            <div class="basket">
              <div class="basketInner">
                <div class="basketInner_left">
                  <img src="../assets/images/NewProduct/ProductImage.jpg" />
                  <div class="basketInner_left_right">
                    <h3>Our Creation of Dior's Ambre Nuit</h3>
                    <p>Hecmi : 30ml</p>
                    <p>Sayi : 1</p>
                  </div>
                </div>
                <div class="basketInner_right">
                  <h1>50$</h1>
                  <a> <img src="../assets/icons/tester/rubish.svg" /></a>
                </div>
              </div>
            </div>
          </div>
          <div class="money">
            <h3>Sebetdeki mehsullar</h3>
            <hr />
            <p>Chanel<span>46$</span></p>
            <hr />
          
            <h5>Toplam:<span></span></h5>
            <a><button class="addtobasket">Sifarisi Resmilesdir</button></a>
          </div>
        </div>
  </div>