      <div class="gift_intro">
        <div class="container gift_intro_container">
          <div class="gift_left">
            <h1>Xüsusi günlərin əvəzedilməzi!</h1>
            <p>
              Özəl günlər üçün xüsusi parfum qutusu almaq çox asan və yadda
              qalan olacaq...
            </p>
          </div>
          <div class="gift_right">
            <img src="../assets/images/NewProduct/ProductImage.jpg" />
            <img src="../assets/images/About/about2.jpg" />
          </div>
        </div>
      </div>
      <div class="giftboxes">
        <div class="container giftboxes_container">
          <div class="giftboxes_intro">
            <h1>Hediyye Qutulari</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
              soluta magnam enim expedita repellat officia magni sit quas
            </p>
            <p></p>
          </div>
          <div class="boxes">
            <div class="box">
              <img src="../assets/images/GiftBox/box1.jpg" />
              <div class="box_info">
                <h1>Trio Kit</h1>
                <p>20$</p>
              </div>
              <p>
                Combination of your favorite fragrances in 3 perfume bottles
                sizes of 100ml.
              </p>
              <a><button class="addtobasket">Sebete at</button></a>
            </div>
            <div class="box">
              <img src="../assets/images/GiftBox/box1.jpg" />
              <div class="box_info">
                <h1>Trio Kit</h1>
                <p>20$</p>
              </div>
              <p>
                Combination of your favorite fragrances in 3 perfume bottles
                sizes of 100ml.
              </p>
              <a><button class="addtobasket">Sebete at</button></a>
            </div>
            <div class="box">
              <img src="../assets/images/GiftBox/box1.jpg" />
              <div class="box_info">
                <h1>Trio Kit</h1>
                <p>20$</p>
              </div>
              <p>
                Combination of your favorite fragrances in 3 perfume bottles
                sizes of 100ml.
              </p>
              <a><button class="addtobasket">Sebete at</button></a>
            </div>
            <div class="box">
              <img src="../assets/images/GiftBox/box1.jpg" />
              <div class="box_info">
                <h1>Trio Kit</h1>
                <p>20$</p>
              </div>
              <p>
                Combination of your favorite fragrances in 3 perfume bottles
                sizes of 100ml.
              </p>
              <a><button class="addtobasket">Sebete at</button></a>
            </div>
          </div>
        </div>
      </div>