@model OrderDetails

<div class="order">
        <div class="container order_container">
          <div class="order_info">
            <form method="post" asp-action="createorder" asp-controller="order">
              <div class="contact_info">
                <h3>Elaqe Melumatlari</h3>
                <div class="contact_info_inputs">
                  <input
                    type="text"
                    placeholder="Ad"
                    class="contact_input yoxla"
                  />
                  <input
                    type="text"
                    placeholder="Soyad"
                    class="contact_input yoxla"
                  />
                  <input
                    type="email"
                    placeholder="Email"
                    class="contact_input yoxla"
                  />
                  <input
                    type="number"
                    placeholder="Nomre"
                    class="contact_input yoxla"
                  />
                  <input
                    type="text"
                    placeholder="Rayon"
                    class="contact_input"
                  />

                  <textarea
                    rows="4"
                    cols="40"
                    placeholder="Elave Qeyd"
                    class="contact_input yoxla"
                  ></textarea>
                </div>
              </div>
              <div class="delivery_info">
                <h3>Unvan Melumatlari</h3>
                <div class="delivery">
                  <div class="delivery_left">
                    <img src="../assets/icons/order/shop.svg" alt="magaza" />
                    <h3>Magazadan tehvil al</h3>
                  </div>
                  <div class="delivery_right">
                    <input type="radio" name="delivery" />
                  </div>
                </div>
                <div class="delivery">
                  <div class="delivery_left">
                    <img src="../assets/icons/order/shop.svg" alt="magaza" />
                    <h3>Magazadan tehvil al</h3>
                  </div>
                  <div class="delivery_right">
                    <input type="radio" name="delivery" />
                  </div>
                </div>
              </div>

              <div class="payment_info">
                <h3>Odeme Metodu</h3>
                <div class="payments">
                  <div class="payment">
                    <div class="payment_left">
                      <img
                        src="../assets/icons/order/Credit card.svg"
                        alt="magaza"
                      />
                      <h3>Qapida Kartla Odeme</h3>
                    </div>
                    <div class="payment_right">
                      <input type="radio" name="payment" />
                    </div>
                  </div>
                  <div class="payment">
                    <div class="payment_left">
                      <img
                        src="../assets/icons/order/Credit card.svg"
                        alt="magaza"
                      />
                      <h3>Kartla Odeme</h3>
                    </div>
                    <div class="payment_right">
                      <input type="radio" name="payment" />
                    </div>
                  </div>
                  <div class="payment">
                    <div class="payment_left">
                      <img
                        src="../assets/icons/order/Wallet.svg"
                        alt="magaza"
                      />
                      <h3>Negd Odeme</h3>
                    </div>
                    <div class="payment_right">
                      <input type="radio" name="payment" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="order_buttons">
                <a class="delete"
                  ><button class="addtobasket" id="legv">Legv et</button></a
                >
                <a class="add" 
                  ><button class="addtobasket" id="tamamla" type="submit">
                    Sifarisi tamamla
                  </button></a
                >
              </div>
            </form>
          </div>
        </div>
      </div>