@model ProductCategory

<div class="container">
	<form method="post">
		<div class="form-group">
			<label for="name" >Ad:</label>
			<input type="text" class="form-control" asp-for="@Model.Name"/>
		<span class="text" asp-validation-for="@Model.Name"></span>
			@Html.AntiForgeryToken()
		</div>
	<button type="submit" class="btn btn-outline-success">Yarat</button>
	</form>
</div>