.chat {
  .chat_container {
    padding: 70px 0;
    > h1 {
      @include H1;
      padding-bottom: 10px;
      text-align: center;
      font-size: 55px;
      line-height: 50px;
    }
    .chat_double {
      display: flex;
      justify-content: space-around;
      margin: auto;
      .chat_left {
        > div {
          display: flex;
          align-items: center;
          gap: 20px;
          margin-top: 10px;
          > h1 {
            @include H1;
            margin-bottom: 0px;
            width: 150px;
          }
          > div {
            > input {
              margin-top: 5px;
              border-radius: 4px;
              border: 1px solid $black_02;
              gap: 8px;
              padding: 3px 10px;
              font-family: Work Sans;
              font-size: 15px;
              font-weight: 400;
              line-height: 19px;
              letter-spacing: 0em;
              text-align: left;
              color: $black_01;
            }
            #sendButton {
              text-align: right;
              border: 2px solid transparent;
              padding: 3px 5px;
              margin-left: 265px;
              cursor: pointer;
              margin-top: 10px;
              font-family: Work Sans;
              width: 100px;
              &:hover {
                border: 2px solid $orange_01;
                background-color: transparent;
                transition: 0.5s;
                transform: scale(1);
              }
            }
          }
        }
      }
      .chat_right {
        display: flex;
        margin-top: 10px;
        > ul {
          > li {
            border: 1px solid $orange_01;
            @include H1;
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 0px;
            padding: 8px 50px;
            margin-top: 5px;
            cursor: pointer;
            &:hover {
              color: $orange_01;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .chat {
    .chat_container {
      padding: 60px 0;
      > h1 {
        padding-bottom: 20px;
        margin-bottom: 10px;
      }
      .chat_double {
        .chat_left {
          > div {
            display: flex;
            align-items: inherit;
            flex-direction: column;
            gap: 10px;
            margin-top: 0px;
            > h1 {
              @include H1;
              margin-bottom: 0px;
              width: 150px;
              font-size: 28px;
              line-height: 30px;
            }
            > div {
              > input {
                margin-top: 5px;
                border-radius: 4px;
                border: 1px solid $black_02;
                gap: 8px;
                padding: 3px 10px;
                font-family: Work Sans;
                font-size: 15px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                color: $black_01;
                margin-bottom: 10px;
              }
              #sendButton {
                text-align: right;
                border: 2px solid transparent;
                padding: 3px 5px;
                margin-left: 0px;
                cursor: pointer;
                margin-top: 10px;
                font-family: Work Sans;
                width: 200px;
                &:hover {
                  border: 2px solid $orange_01;
                  background-color: transparent;
                  transition: 0.5s;
                  transform: scale(1);
                }
              }
            }
          }
        }
        .chat_right {
          margin-top: 5px;
          > ul {
            > li {
              @include H1;
              font-size: 20px;
              line-height: 25px;
              margin-bottom: 0px;
              margin-top: 0px;
              padding: 5px 20px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
