.swiper {
  width: 100%;
  height: 650px;
  .swiper-slide {
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    > img {
      display: block;
      width: 100%;
      height: 100%;
    }
    .info_par {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 220px;
      left: 100px;
      > h1 {
        font-family: Space Mono;
        font-size: 43px;
        font-weight: 510;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: left;
        color: $white;
        width: 450px;
      }
      > p {
        width: 385px;
        font-family: Work Sans;
        font-size: 30px;
        font-weight: 300;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: left;
        color: $white;
        margin-top: 25px;
      }
      > a {
        > button {
          width: 150px;
          height: 40px;
          margin-top: 25px;
        }
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev,
  .swiper-pagination-bullet {
    color: #fff;
  }
}
@media screen and (max-width: 1238px) {
  .swiper {
    width: 100%;
    height: 500px;
    .swiper-slide {
      background-position: center;
      background-size: cover;
      position: relative;
      > img {
        display: block;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
      }
      .info_par {
        position: absolute;
        top: 150px;
        left: 60px;
        > h1 {
          font-family: Space Mono;
          font-size: 40px;
          font-weight: 510;
          line-height: 50px;
          letter-spacing: 0em;
          text-align: left;
          color: $white;
          width: 420px;
        }
        > p {
          width: 355px;
          font-family: Work Sans;
          font-size: 30px;
          font-weight: 300;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: left;
          color: $white;
          margin-top: 25px;
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .swiper {
    width: 100%;
    height: 250px;
    .swiper-slide {
      background-position: center;
      background-size: cover;
      position: relative;
      > img {
        display: block;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
      }
      .info_par {
        position: absolute;
        padding-top: 8px;
        padding-left: 0px;
        top: 33%;
        left: 15%;
        > h1 {
          font-family: Space Mono;
          font-size: 20px;
          font-weight: 510;
          line-height: 25px;
          letter-spacing: 0em;
          text-align: left;
          color: $white;
          width: 250px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        > p {
          display: none;
        }
        > a {
          > button {
            width: 90px;
            height: 24px;
            font-size: 12px;
            margin-top: 0px;
          }
        }
      }
    }
  }
}
.parfumeCategory {
  .parfumeCategory_container {
    padding: 40px 0;
    padding-left: 10px;
    .parfumeCategory_top {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      .category {
        display: flex;
        cursor: pointer;
        width: fit-content;
        padding: 15px;
        border-radius: 10px;
        height: 30px;
        background-color: $orange_01;
        display: flex;
        justify-content: center;
        border: 1px solid transparent;
        align-items: center;
        transition: 0.5s;
        > p {
          font-family: Space Mono;
          font-size: 18px;
          font-weight: 496;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: $white;
        }
      }
      .click {
        background-color: $black_01;
      }
    }
  }
}
@media screen and (max-width: 1238px) {
  .parfumeCategory {
    .parfumeCategory_container {
      padding: 30px 0;
      .parfumeCategory_top {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        .category {
          display: flex;
          cursor: pointer;
          width: fit-content;
          padding: 7px;
          border-radius: 10px;
          height: 30px;
          background-color: $orange_01;
          display: flex;
          justify-content: center;
          border: 1px solid transparent;
          align-items: center;
          transition: 0.5s;
          > p {
            font-family: Space Mono;
            font-size: 18px;
            font-weight: 496;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: $white;
          }
        }
        .click {
          background-color: $black_01;
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .parfumeCategory {
    .parfumeCategory_container {
      padding: 30px 0;
      .parfumeCategory_top {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        .category {
          display: flex;
          cursor: pointer;
          width: fit-content;
          padding: 7px;
          border-radius: 10px;
          height: 30px;
          background-color: $orange_01;
          display: flex;
          justify-content: center;
          border: 1px solid transparent;
          align-items: center;
          transition: 0.5s;
          > p {
            font-family: Space Mono;
            font-size: 18px;
            font-weight: 496;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: $white;
          }
        }
        .click {
          background-color: $black_01;
        }
      }
    }
  }
}

.parfumes_index {
  .parfumes_index_container {
    padding-bottom: 80px;
    > h1 {
      @include H1;
    }
    .newsellest {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      justify-content: center;
      .selles {
        width: 295px;
        height: 390px;
        background-color: $white;
        border-radius: 8px 8px;
        border: 1px solid transparent;
        cursor: pointer;
        transition: 0.5s;
        > a {
          width: 295px;
          height: 260px;
          > img {
            width: 295px;
            height: 260px;
            border-radius: 8px 8px 0px 0px;
          }
        }
        .def {
          font-family: Work Sans;
          font-size: 20px;
          font-weight: 496;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          padding: 0 18px;
          margin-bottom: 10px;
          margin-top: 15px;
        }
        .cat {
          font-family: Space Mono;
          font-size: 14px;
          font-weight: 450;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          color: $orange_03;
          margin-bottom: 10px;
          padding: 0 18px;
        }
        .price_star {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 18px;

          .price {
            font-family: New York;
            font-size: 16px;
            font-weight: 496;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: $black_03;
          }
          > a {
            > button {
              width: 120px;
            }
          }
        }
        &:hover {
          box-shadow: -1px 3px 37px -3px rgba(0, 0, 0, 0.45);
        }
      }
    }
  }
}
@media screen and (max-width: 1238px) {
  .container {
    width: 740px;
  }
  .parfumes_index {
    .parfumes_index_container {
      padding-bottom: 60px;
      .newsellest {
        display: flex;
        justify-content: center;
        .selles {
          width: 230px;
          height: 330px;
          background-color: $white;
          border-radius: 8px 8px;
          > a {
            width: 230px;
            height: 210px;
            > img {
              width: 230px;
              height: 210px;
              border-radius: 8px 8px 0px 0px;
            }
          }
          .def {
            font-family: Work Sans;
            font-size: 18px;
            font-weight: 496;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            padding: 0 15px;
            margin-bottom: 10px;
            margin-top: 10px;
          }
          .cat {
            font-family: Space Mono;
            font-size: 14px;
            font-weight: 450;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
            color: $orange_03;
            margin-bottom: 10px;
            padding: 0 15px;
          }
          .price_star {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 15px;

            .price {
              font-family: New York;
              font-size: 16px;
              font-weight: 496;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: $black_03;
            }
            > a {
              > button {
                width: 95px;
              }
            }
          }
        }
        .hide {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .container {
    width: 370px;
  }
  .parfumes_index {
    .parfumes_index_container {
      padding-bottom: 40px;
      > h1 {
        @include H1Responsive;
      }
      .newsellest {
        display: flex;
        gap: 10px;
        .selles {
          width: 180px;
          height: 260px;
          background-color: $white;
          border-radius: 8px 8px;
          > a {
            width: 180px;
            height: 170px;
            > img {
              width: 180px;
              height: 170px;
              border-radius: 8px 8px 0px 0px;
            }
          }
          .def {
            font-family: Work Sans;
            font-size: 14px;
            font-weight: 496;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            padding: 0 13px;
            margin-bottom: 7px;
            margin-top: 8px;
          }
          .cat {
            font-family: Space Mono;
            font-size: 12px;
            font-weight: 450;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            color: $orange_03;
            padding: 0 13px;

            margin-bottom: 7px;
          }
          .price_star {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 13px;

            .price {
              font-family: New York;
              font-size: 14px;
              font-weight: 496;
              line-height: 22px;
              letter-spacing: 0em;
              text-align: left;
              color: $black_03;
              margin-left: 10px;
            }
            > a {
              > button {
                font-size: 12px;
                width: 75px;
                border: 1px solid;
              }
            }
          }
        }
        .hidden {
          display: none;
        }
      }
    }
  }
}
