.smoke {
  .smoke_container {
    padding-bottom: 80px;
    > h1 {
      @include H1;
    }
    .newsmoke {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 15px;
      .smok {
        width: 380px;
        border-radius: 7px 7px;
        background-color: $white;
        border: 1px solid transparent;
        transition: 0.5s;
        cursor: pointer;
        > a {
          width: 100%;
          height: 250px;
          > img {
            width: 100%;
            height: 250px;
            border-radius: 7px 7px 0px 0px;
          }
        }
        .responsive {
          > h3 {
            font-family: Space Mono;
            font-size: 24px;
            font-weight: 496;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: left;
            color: $orange_01;
            padding: 0 20px;
            margin-bottom: 10px;
            margin-top: 10px;
          }
          > p {
            font-family: Work Sans;
            font-size: 18px;
            font-weight: 496;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            padding: 0 20px;
            margin-bottom: 10px;
          }
          > a {
            display: flex;
            justify-content: center;
            > button {
              margin-bottom: 16px;
              width: 91%;
              background-color: $orange_01;
              color: $white;
              &:hover {
                transform: scale(1);
                background-color: transparent;
                color: $orange_01;
              }
            }
          }
        }
        &:hover {
          box-shadow: 6px 0px 24px 0px rgba(247, 156, 44, 0.84);
          -webkit-box-shadow: 6px 0px 24px 0px rgba(247, 156, 44, 0.84);
          -moz-box-shadow: 6px 0px 24px 0px rgba(247, 156, 44, 0.84);
        }
      }
    }
  }
}
@media screen and (max-width: 1238px) {
  .smoke {
    .smoke_container {
      padding-bottom: 60px;
      .newsmoke {
        display: flex;
        justify-content: space-between;
        .smok {
          width: 350px;
          border-radius: 7px 7px;
          background-color: $white;
          > a {
            width: 100%;
            height: 220px;
            > img {
              width: 100%;
              height: 220px;
              border-radius: 7px 7px 0px 0px;
            }
          }
          .responsive {
            > h3 {
              font-family: Space Mono;
              font-size: 18px;
              font-weight: 496;
              line-height: 29px;
              letter-spacing: 0em;
              text-align: left;
              color: $orange_01;
              padding: 0 20px;
              margin-bottom: 0px;
              margin-top: 5px;
            }
            > p {
              font-family: Work Sans;
              font-size: 13px;
              font-weight: 496;
              line-height: 20px;
              letter-spacing: 0em;
              text-align: left;
              margin-bottom: 0px;
              padding: 0 20px;
            }
            > a {
              > button {
                margin-bottom: 15px;
                margin-top: 10px;
                width: 90%;
                font-size: 14px;
                height: 22px;
                background-color: $orange_01;
                color: $white;
                &:hover {
                  transform: scale(1);
                  background-color: transparent;
                  color: $orange_01;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .smoke {
    .smoke_container {
      padding-bottom: 40px;
      padding-top: 30px;
      > h1 {
        @include H1Responsive;
      }
      .newsmoke {
        display: flex;
        justify-content: center;
        .smok {
          width: 175px;
          border-radius: 7px 7px;
          background-color: $white;
          > a {
            width: 100%;
            height: 150px;
            > img {
              width: 100%;
              height: 150px;
              border-radius: 7px 7px 0px 0px;
            }
          }
          .responsive {
            display: flex;
            flex-direction: column;
            > h3 {
              font-family: Space Mono;
              font-size: 17px;
              font-weight: 496;
              line-height: 25px;
              letter-spacing: 0em;
              text-align: left;
              color: $orange_01;
              padding: 0 13px;
              margin-bottom: 0px;
              margin-top: 5px;
            }
            > p {
              display: none;
            }
            > a {
              > button {
                margin-top: 5px;
                margin-bottom: 10px;
                width: 88%;
                height: 20px;
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .testing {
    .testing_container {
      .testing_common {
        .lastone {
          .words_last {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
