.infoPage {
  width: 100%;
  .infoPage_container {
    width: 100%;
    height: 629px;
    margin: auto;
    display: flex;
    position: relative;
    .infoPage_left {
      width: 50%;
      background-image: url(../../assets/images/Register/parfume.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      object-fit: cover;
      object-position: center;
    }
    .infoPage_right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      > h1 {
        font-family: Space Mono;
        font-size: 32px;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
      }

      > input {
        width: 400px;
        height: 15px;
      }
    }
  }
}
@media screen and (max-width: 1238px) {
  .infoPage {
    width: 100%;
    .infoPage_container {
      width: 100%;
      height: 629px;
      margin: auto;
      display: flex;
      position: relative;
      .infoPage_left {
        width: 50%;
        background-image: url(../../assets/images/Register/parfume.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        object-position: center;
      }
      .infoPage_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        > h1 {
          font-family: Space Mono;
          font-size: 32px;
          font-weight: 500;
          line-height: 38px;
          letter-spacing: 0em;
          text-align: left;
        }

        > input {
          width: 250px;
          height: 15px;
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .infoPage {
    width: 100%;
    .infoPage_container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .infoPage_left {
        width: 100%;
        height: 250px;
        background-image: url(../../assets/images/Register/parfume.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        object-position: center;
        margin-right: 0;
      }
      .infoPage_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        > h1 {
          font-family: Space Mono;
          font-size: 28px;
          font-weight: 500;
          line-height: 34px;
          letter-spacing: 0em;
          text-align: left;
          margin-top: 25px;
        }
        > input {
          width: 300px;
          height: 15px;
          padding: 10px 6px;
        }
        .special_input {
          margin-bottom: 30px;
        }
      }
    }
  }
}
