.login {
  width: 100%;
  .login_container {
    width: 100%;
    height: 629px;
    margin: auto;
    display: flex;
    position: relative;
    .login_left {
      width: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      object-fit: cover;
      object-position: center;
    }
    .login_right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      > h1 {
        font-family: Space Mono;
        font-size: 32px;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
      }
      > form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        > input {
          width: 400px;
          height: 15px;
        }

        > button {
          width: 435px;
          height: 40px;
          background-color: $orange_01;
          color: $black_01;
          font-weight: 500;
          &:hover {
            transform: scale(1);
            background-color: transparent;
            color: $orange_01;
          }
        }
        .checkbox_input {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          > input {
            margin-left: 0px;
          }
          > p {
            font-family: Work Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            margin-right: 240px;
          }
          > a {
            &:hover {
              color: $orange_01;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1238px) {
  .login {
    width: 100%;
    .login_container {
      width: 100%;
      height: 629px;
      margin: auto;
      display: flex;
      position: relative;
      .login_left {
        width: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        object-position: center;
      }
      .login_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        > h1 {
          font-family: Space Mono;
          font-size: 32px;
          font-weight: 500;
          line-height: 38px;
          letter-spacing: 0em;
          text-align: left;
        }

        > form {
          > input {
            width: 250px;
            height: 15px;
          }

          > button {
            width: 285px;
            height: 40px;
            background-color: $orange_01;
            color: $black_01;
            font-weight: 500;
            &:hover {
              transform: scale(1);
              background-color: transparent;
              color: $orange_01;
            }
          }
          .checkbox_input {
            display: flex;
            align-items: center;
            > p {
              margin-right: 87px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .login {
    width: 100%;
    .login_container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .login_left {
        width: 100%;
        height: 250px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        object-position: center;
        margin-right: 0;
      }
      .login_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        > h1 {
          font-family: Space Mono;
          font-size: 28px;
          font-weight: 500;
          line-height: 34px;
          letter-spacing: 0em;
          text-align: left;
          margin-top: 25px;
        }

        > form {
          > input {
            width: 300px;
            height: 15px;
            padding: 10px 6px;
          }

          > button {
            width: 315px;
            height: 37px;
            background-color: $orange_01;
            color: $black_01;
            font-weight: 500;
            margin-bottom: 30px;
            &:hover {
              transform: scale(1);
              background-color: transparent;
              color: $orange_01;
            }
          }
          .checkbox_input {
            display: flex;
            align-items: center;
            > p {
              margin-right: 120px;
            }
          }
        }
      }
    }
  }
}
