.tester {
  .tester_container {
    padding: 80px 0;
    .tester_top {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      > h1 {
        font-family: Space Mono;
        font-size: 32px;
        font-weight: 496;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: center;
        color: $black_01;
      }
      > p {
        width: 400px;
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 300;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        color: $black_01;
      }
      .tester_input {
        width: 400px;
        display: flex;
        justify-content: center;
        > form {
          position: relative;

          > input {
            width: 360px;
            height: 40px !important;
            padding: 0px 10px 0px 10px;
            border: 1px solid $orange_01;
            border-radius: 8px;
            font-size: 15px;
          }
          > img {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 10px;
            top: 10px;
          }
        }
      }
    }
    .tester_bottom {
      display: flex;
      padding: 30px 0;
      justify-content: center;
      .tester_left {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        .testerparfume {
          width: 280px;
          display: flex;
          flex-direction: column;
          border-radius: 8px;
          background-color: $white;
          > a {
            width: 280px;
            height: 260px;
            > img {
              width: 280px;
              height: 260px;
            }
          }
          > h3 {
            font-family: Space Mono;
            font-size: 20px;
            font-weight: 496;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            padding: 10px 10px 5px 10px;
          }
          .cat {
            font-family: Space Mono;
            font-size: 14px;
            font-weight: 450;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
            color: $orange_03;
            margin-bottom: 5px;
            margin-left: 10px;
          }
          .star_button {
            padding: 0 10px;
            display: flex;
            .price {
              font-family: New York;
              font-size: 16px;
              font-weight: 496;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: $black_03;
            }
            > a {
              > button {
                width: 100px;
                margin-left: 100px;
                margin-bottom: 15px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1238px) {
  .tester {
    .tester_container {
      padding: 60px 0;
      .tester_top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        > h1 {
          font-family: Space Mono;
          font-size: 32px;
          font-weight: 496;
          line-height: 38px;
          letter-spacing: 0em;
          text-align: center;
          color: $black_01;
        }
        > p {
          width: 400px;
          font-family: Work Sans;
          font-size: 16px;
          font-weight: 300;
          line-height: 21px;
          letter-spacing: 0em;
          text-align: center;
          color: $black_01;
        }
        .tester_input {
          > form {
            > input {
              width: 360px;
              height: 15px;
              padding: 10px;
              border: 1px solid $orange_01;
              border-radius: 8px;
            }
            > img {
              width: 20px;
              height: 20px;
              position: absolute;
              right: 10px;
              top: 8px;
            }
          }
        }
      }
      .tester_bottom {
        display: flex;
        padding: 30px 0;
        flex-direction: column;
        align-items: center;

        .tester_left {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 10px;
          .testerparfume {
            width: 240px;
            height: 335px;
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            background-color: $white;
            margin-bottom: 10px;
            > a {
              width: 240px;
              height: 260px;
              > img {
                width: 240px;
                height: 230px;
              }
            }
            > h3 {
              font-family: Space Mono;
              font-size: 18px;
              font-weight: 496;
              line-height: 20px;
              letter-spacing: 0em;
              text-align: left;
              padding: 10px 10px 5px 10px;
            }
            .cat {
              font-family: Space Mono;
              font-size: 14px;
              font-weight: 450;
              line-height: 18px;
              letter-spacing: 0em;
              text-align: left;
              color: $orange_03;
              margin-bottom: 5px;
              margin-left: 10px;
            }
            .star_button {
              padding: 0 10px;
              display: flex;
              .price {
                font-family: New York;
                font-size: 16px;
                font-weight: 496;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                color: $black_03;
                margin-top: 0px;
              }
              > a {
                > button {
                  margin-left: 85px;
                  margin-bottom: 15px;
                  font-size: 12px;
                  width: 80px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .tester {
    .tester_container {
      padding: 30px 0 0 0;
      .tester_top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        > h1 {
          font-family: Space Mono;
          font-size: 32px;
          font-weight: 496;
          line-height: 38px;
          letter-spacing: 0em;
          text-align: center;
          color: $black_01;
        }
        > p {
          width: 340px;
          font-family: Work Sans;
          font-size: 16px;
          font-weight: 300;
          line-height: 21px;
          letter-spacing: 0em;
          text-align: center;
          color: $black_01;
        }
        .tester_input {
          width: 340px;
          position: relative;
          > input {
            width: 330px;
            height: 15px;
            padding: 10px;
            border: 1px solid $orange_01;
            border-radius: 8px;
          }
          > img {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 0px;
            top: 8px;
          }
        }
      }
      .tester_bottom {
        display: flex;
        flex-direction: column;
        padding: 30px 0 0 0;
        gap: 10px;
        align-items: center;
        .tester_left {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 5px;
          .testerparfume {
            width: 180px;
            height: 260px;
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            background-color: $white;
            margin-bottom: 20px;
            > a {
              width: 180px;
              height: 180px;
              > img {
                width: 180px;
                height: 180px;
              }
            }
            > h3 {
              font-family: Space Mono;
              font-size: 14px;
              font-weight: 496;
              line-height: 12px;
              letter-spacing: 0em;
              text-align: left;
              padding: 10px 8px 5px 8px;
            }
            .cat {
              font-family: Space Mono;
              font-size: 12px;
              font-weight: 450;
              line-height: 16px;
              letter-spacing: 0em;
              text-align: left;
              color: $orange_03;
              margin-bottom: 5px;
              margin-left: 8px;
            }
            .star_button {
              padding: 0 8px;
              display: flex;
              .price {
                font-family: New York;
                font-size: 12px;
                font-weight: 496;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: left;
                color: $black_03;
              }
              > a {
                > button {
                  margin-left: 40px;
                  height: 23px;
                  margin-bottom: 15px;
                  font-size: 12px;
                  width: 80px;
                  border: 1px solid;
                }
              }
            }
          }
        }
      }
    }
  }
}
