 <div class="found">
        <img src="~/assets/images/NotFound/pana.jpg" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, quod!
        </p>
        <a asp-action="index" asp-controller="home"><button class="addtobasket">Ana Səhifə</button></a>
      </div>