      <div class="testing">
        <div class="container testing_container">
          <div class="testing_common">
            <div class="testing_left">
              <img src="../assets/images/Testing/parfume_flakon.jpg" />
            </div>
            <div class="testing_right">
              <h1>Muxtelif tip tustuleri sinamaginiz ucun burdayiq!</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="tester">
        <div class="container tester_container">
          <div class="tester_top">
            <h1>Tustuler</h1>
            <p>Muxtelif tip tustuler ile sizi rahatlatmaga haziriq!</p>
            <div class="tester_input">
              <input placeholder="Tustu axtar" />
              <img src="../assets/icons/tester/Search.svg" />
            </div>
          </div>
        </div>
      </div>
      <div class="smokes">
        <div class="container smokes_container">
          <div class="newsmokes">
            <div class="smoke">
              <img src="../assets/images/NewProduct/ProductImage.jpg" />
              <div class="responsive">
                <h3>Agarwoodlar</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
                  ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
                  dolor sit amet consectetur adipisicing elit
                </p>
                <a href="google.com">
                  <img
                    class="button_image"
                    alt="buttonImage"
                    src="../assets/icons/button/buttonsvg.svg"
                  />
                </a>
              </div>
            </div>
            <div class="smoke">
              <img src="../assets/images/NewProduct/ProductImage.jpg" />
              <div class="responsive">
                <h3>Agarwoodlar</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
                  ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
                  dolor sit amet consectetur adipisicing elit
                </p>
                <a href="google.com">
                  <img
                    class="button_image"
                    alt="buttonImage"
                    src="../assets/icons/button/buttonsvg.svg"
                  />
                </a>
              </div>
            </div>
            <div class="smoke">
              <img src="../assets/images/NewProduct/ProductImage.jpg" />
              <div class="responsive">
                <h3>Agarwoodlar</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
                  ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
                  dolor sit amet consectetur adipisicing elit
                </p>
                <a href="google.com">
                  <img
                    class="button_image"
                    alt="buttonImage"
                    src="../assets/icons/button/buttonsvg.svg"
                  />
                </a>
              </div>
            </div>
            <div class="smoke">
              <img src="../assets/images/NewProduct/ProductImage.jpg" />
              <div class="responsive">
                <h3>Agarwoodlar</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
                  ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
                  dolor sit amet consectetur adipisicing elit
                </p>
                <a href="google.com">
                  <img
                    class="button_image"
                    alt="buttonImage"
                    src="../assets/icons/button/buttonsvg.svg"
                  />
                </a>
              </div>
            </div>
            <div class="smoke">
              <img src="../assets/images/NewProduct/ProductImage.jpg" />
              <div class="responsive">
                <h3>Agarwoodlar</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
                  ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
                  dolor sit amet consectetur adipisicing elit
                </p>
                <img
                  class="button_image"
                  alt="buttonImage"
                  src="../assets/icons/button/buttonsvg.svg"
                />
              </div>
            </div>
            <div class="smoke">
              <img src="../assets/images/NewProduct/ProductImage.jpg" />
              <div class="responsive">
                <h3>Agarwoodlar</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
                  ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
                  dolor sit amet consectetur adipisicing elit
                </p>
                <img
                  class="button_image"
                  alt="buttonImage"
                  src="../assets/icons/button/buttonsvg.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>